.panel-color {margin-bottom: 20px!important;border-color: #ddd!important;color: #333!important;!important}
ul.color-list li{margin-left:0px !important;!important}
.color-list {list-style: none!important;margin: -1px!important;padding: 0!important;!important}
.color-list > li:first-child {border-radius: 3px 3px 0 0!important;!important}
.color-list > li {padding: 8px!important;color: #fff!important;!important}
.color-list > li > span {float: right!important;!important}
a.bg-success:focus,a.bg-success:hover{background-color:#3d8b40}
a.bg-info:focus,a.bg-info:hover{background-color:#008fa1}
a.bg-warning:focus,a.bg-warning:hover{background-color:#ee3900}
a.bg-danger:focus,a.bg-danger:hover{background-color:#ea1c0d}
.text-theme{color:#4DD0E1;}


/*******************************
Bootstrap colors
*******************************/

/*Primary color system*/

.bg-primary{background-color:#2196F3!important;border-color:#2196F3!important;color:#fff!important}
.bg-primary-lighter{background-color:#64B5F6!important;border-color:#64B5F6!important;color:#fff!important}
.bg-primary-light{background-color:#42A5F5!important;border-color:#42A5F5!important;color:#fff!important}
.bg-primary-dark{background-color:#1E88E5!important;border-color:#1E88E5!important;color:#fff!important}
.bg-primary-darker{background-color:#1976D2!important;border-color:#1976D2!important;color:#fff!important}
.bg-primary-darkest{background-color:#1565C0!important;border-color:#1565C0!important;color:#fff!important}
.border-primary{border-color:#2196F3!important}
.border-primary-lighter{border-color:#64B5F6!important}
.border-primary-light{border-color:#42A5F5!important}
.border-primary-dark{border-color:#1E88E5!important}
.border-primary-darker{border-color:#1976D2!important}
.border-primary-darkest{border-color:#1565C0!important}
.border-top-primary{border-top-color:#2196F3!important}
.border-top-primary-lighter{border-top-color:#64B5F6!important}
.border-top-primary-light{border-top-color:#42A5F5!important}
.border-top-primary-dark{border-top-color:#1E88E5!important}
.border-top-primary-darker{border-top-color:#1976D2!important}
.border-top-primary-darkest{border-top-color:#1565C0!important}
.border-bottom-primary{border-bottom-color:#2196F3!important}
.border-bottom-primary-lighter{border-bottom-color:#64B5F6!important}
.border-bottom-primary-light{border-bottom-color:#42A5F5!important}
.border-bottom-primary-dark{border-bottom-color:#1E88E5!important}
.border-bottom-primary-darker{border-bottom-color:#1976D2!important}
.border-bottom-primary-darkest{border-bottom-color:#1565C0!important}
.border-left-primary{border-left-color:#2196F3!important}
.border-left-primary-lighter{border-left-color:#64B5F6!important}
.border-left-primary-light{border-left-color:#42A5F5!important}
.border-left-primary-dark{border-left-color:#1E88E5!important}
.border-left-primary-darker{border-left-color:#1976D2!important}
.border-left-primary-darkest{border-left-color:#1565C0!important}
.border-right-primary{border-right-color:#2196F3!important}
.border-right-primary-lighter{border-right-color:#64B5F6!important}
.border-right-primary-light{border-right-color:#42A5F5!important}
.border-right-primary-dark{border-right-color:#1E88E5!important}
.border-right-primary-darker{border-right-color:#1976D2!important}
.border-right-primary-darkest{border-right-color:#1565C0!important}
.text-primary,.text-primary-lighter,.text-primary-lighter:focus,.text-primary-lighter:hover,.text-primary:focus,.text-primary:hover{color:#2196F3!important}
.text-primary-light,.text-primary-light:focus,.text-primary-light:hover{color:#42A5F5!important}
.text-primary-dark,.text-primary-dark:focus,.text-primary-dark:hover{color:#1E88E5!important}
.text-primary-darker,.text-primary-darker:focus,.text-primary-darker:hover{color:#1976D2!important}
.text-primary-darkest,.text-primary-darkest:focus,.text-primary-darkest:hover{color:#1565C0!important}
.alpha-primary{background-color:#E3F2FD!important;border-color:#1E88E5!important}


/*Dange color system*/

.bg-danger{background-color:#F44336!important;border-color:#F44336!important;color:#fff!important}
.bg-danger-lighter{background-color:#E57373!important;border-color:#E57373!important;color:#fff!important}
.bg-danger-light{background-color:#EF5350!important;border-color:#EF5350!important;color:#fff!important}
.bg-danger-dark{background-color:#E53935!important;border-color:#E53935!important;color:#fff!important}
.bg-danger-darker{background-color:#D32F2F!important;border-color:#D32F2F!important;color:#fff!important}
.bg-danger-darkest{background-color:#C62828!important;border-color:#C62828!important;color:#fff!important}
.border-danger{border-color:#F44336!important}
.border-danger-lighter{border-color:#E57373!important}
.border-danger-light{border-color:#EF5350!important}
.border-danger-dark{border-color:#E53935!important}
.border-danger-darker{border-color:#D32F2F!important}
.border-danger-darkest{border-color:#C62828!important}
.border-top-danger{border-top-color:#F44336!important}
.border-top-danger-lighter{border-top-color:#E57373!important}
.border-top-danger-light{border-top-color:#EF5350!important}
.border-top-danger-dark{border-top-color:#E53935!important}
.border-top-danger-darker{border-top-color:#D32F2F!important}
.border-top-danger-darkest{border-top-color:#C62828!important}
.border-bottom-danger{border-bottom-color:#F44336!important}
.border-bottom-danger-lighter{border-bottom-color:#E57373!important}
.border-bottom-danger-light{border-bottom-color:#EF5350!important}
.border-bottom-danger-dark{border-bottom-color:#E53935!important}
.border-bottom-danger-darker{border-bottom-color:#D32F2F!important}
.border-bottom-danger-darkest{border-bottom-color:#C62828!important}
.border-left-danger{border-left-color:#F44336!important}
.border-left-danger-lighter{border-left-color:#E57373!important}
.border-left-danger-light{border-left-color:#EF5350!important}
.border-left-danger-dark{border-left-color:#E53935!important}
.border-left-danger-darker{border-left-color:#D32F2F!important}
.border-left-danger-darkest{border-left-color:#C62828!important}
.border-right-danger{border-right-color:#F44336!important}
.border-right-danger-lighter{border-right-color:#E57373!important}
.border-right-danger-light{border-right-color:#EF5350!important}
.border-right-danger-dark{border-right-color:#E53935!important}
.border-right-danger-darker{border-right-color:#D32F2F!important}
.border-right-danger-darkest{border-right-color:#C62828!important}
.text-danger,.text-danger:focus,.text-danger:hover{color: #ed1c24 !important;}
.text-danger-lighter,.text-danger-lighter:focus,.text-danger-lighter:hover{color:#E57373!important}
.text-danger-light,.text-danger-light:focus,.text-danger-light:hover{color:#EF5350!important}
.text-danger-dark,.text-danger-dark:focus,.text-danger-dark:hover{color:#E53935!important}
.text-danger-darker,.text-danger-darker:focus,.text-danger-darker:hover{color:#D32F2F!important}
.text-danger-darkest,.text-danger-darkest:focus,.text-danger-darkest:hover{color:#C62828!important}
.alpha-danger{background-color:#FFEBEE!important;border-color:#E53935!important}


/*Success color system*/

.bg-success{background-color:#43c021 !important;border-color:#43c021 !important;color:#fff!important}
.bg-success-lighter{background-color:#81C784!important;border-color:#81C784!important;color:#fff!important}
.bg-success-light{background-color:#66BB6A!important;border-color:#66BB6A!important;color:#fff!important}
.bg-success-dark{background-color:#43A047!important;border-color:#43A047!important;color:#fff!important}
.bg-success-darker{background-color:#388E3C!important;border-color:#388E3C!important;color:#fff!important}
.bg-success-darkest{background-color:#2E7D32!important;border-color:#2E7D32!important;color:#fff!important}
.border-success{border-color:#43c021 !important}
.border-success-lighter{border-color:#81C784!important}
.border-success-light{border-color:#66BB6A!important}
.border-success-dark{border-color:#43A047!important}
.border-success-darker{border-color:#388E3C!important}
.border-success-darkest{border-color:#2E7D32!important}
.border-top-success{border-top-color:#43c021 !important}
.border-top-success-lighter{border-top-color:#81C784!important}
.border-top-success-light{border-top-color:#66BB6A!important}
.border-top-success-dark{border-top-color:#43A047!important}
.border-top-success-darker{border-top-color:#388E3C!important}
.border-top-success-darkest{border-top-color:#2E7D32!important}
.border-bottom-success{border-bottom-color:#43c021 !important}
.border-bottom-success-lighter{border-bottom-color:#81C784!important}
.border-bottom-success-light{border-bottom-color:#66BB6A!important}
.border-bottom-success-dark{border-bottom-color:#43A047!important}
.border-bottom-success-darker{border-bottom-color:#388E3C!important}
.border-bottom-success-darkest{border-bottom-color:#2E7D32!important}
.border-left-success{border-left-color:#43c021 !important}
.border-left-success-lighter{border-left-color:#81C784!important}
.border-left-success-light{border-left-color:#66BB6A!important}
.border-left-success-dark{border-left-color:#43A047!important}
.border-left-success-darker{border-left-color:#388E3C!important}
.border-left-success-darkest{border-left-color:#2E7D32!important}
.border-right-success{border-right-color:#43c021 !important}
.border-right-success-lighter{border-right-color:#81C784!important}
.border-right-success-light{border-right-color:#66BB6A!important}
.border-right-success-dark{border-right-color:#43A047!important}
.border-right-success-darker{border-right-color:#388E3C!important}
.border-right-success-darkest{border-right-color:#2E7D32!important}
.text-success,.text-success:focus,.text-success:hover{color: #75da62 !important;}
.text-success-lighter,.text-success-lighter:focus,.text-success-lighter:hover{color:#81C784!important}
.text-success-light,.text-success-light:focus,.text-success-light:hover{color:#66BB6A!important}
.text-success-dark,.text-success-dark:focus,.text-success-dark:hover{color:#43A047!important}
.text-success-darker,.text-success-darker:focus,.text-success-darker:hover{color:#388E3C!important}
.text-success-darkest,.text-success-darkest:focus,.text-success-darkest:hover{color:#2E7D32!important}
.alpha-success{background-color:#E8F5E9!important;border-color:#43A047!important}


/*Warning color system*/

.bg-warning{background-color: #e2ab59!important;border-color: #e2ab59!important;color:#fff!important;}
.bg-warning-lighter{background-color:#FF8A65!important;border-color:#FF8A65!important;color:#fff!important}
.bg-warning-light{background-color:#FF7043!important;border-color:#FF7043!important;color:#fff!important}
.bg-warning-dark{background-color:#F4511E!important;border-color:#F4511E!important;color:#fff!important}
.bg-warning-darker{background-color:#E64A19!important;border-color:#E64A19!important;color:#fff!important}
.bg-warning-darkest{background-color:#D84315!important;border-color:#D84315!important;color:#fff!important}
.border-warning{border-color:#FF5722!important}
.border-warning-lighter{border-color:#FF8A65!important}
.border-warning-light{border-color:#FF7043!important}
.border-warning-dark{border-color:#F4511E!important}
.border-warning-darker{border-color:#E64A19!important}
.border-warning-darkest{border-color:#D84315!important}
.border-top-warning{border-top-color:#FF5722!important}
.border-top-warning-lighter{border-top-color:#FF8A65!important}
.border-top-warning-light{border-top-color:#FF7043!important}
.border-top-warning-dark{border-top-color:#F4511E!important}
.border-top-warning-darker{border-top-color:#E64A19!important}
.border-top-warning-darkest{border-top-color:#D84315!important}
.border-bottom-warning{border-bottom-color:#FF5722!important}
.border-bottom-warning-lighter{border-bottom-color:#FF8A65!important}
.border-bottom-warning-light{border-bottom-color:#FF7043!important}
.border-bottom-warning-dark{border-bottom-color:#F4511E!important}
.border-bottom-warning-darker{border-bottom-color:#E64A19!important}
.border-bottom-warning-darkest{border-bottom-color:#D84315!important}
.border-left-warning{border-left-color:#FF5722!important}
.border-left-warning-lighter{border-left-color:#FF8A65!important}
.border-left-warning-light{border-left-color:#FF7043!important}
.border-left-warning-dark{border-left-color:#F4511E!important}
.border-left-warning-darker{border-left-color:#E64A19!important}
.border-left-warning-darkest{border-left-color:#D84315!important}
.border-right-warning{border-right-color:#FF5722!important}
.border-right-warning-lighter{border-right-color:#FF8A65!important}
.border-right-warning-light{border-right-color:#FF7043!important}
.border-right-warning-dark{border-right-color:#F4511E!important}
.border-right-warning-darker{border-right-color:#E64A19!important}
.border-right-warning-darkest{border-right-color:#D84315!important}
.text-warning,.text-warning:focus,.text-warning:hover{color: #ffc107!important;}
.text-warning-lighter,.text-warning-lighter:focus,.text-warning-lighter:hover{color:#FF8A65!important}
.text-warning-light,.text-warning-light:focus,.text-warning-light:hover{color:#FF7043!important}
.text-warning-dark,.text-warning-dark:focus,.text-warning-dark:hover{color:#F4511E!important}
.text-warning-darker,.text-warning-darker:focus,.text-warning-darker:hover{color:#E64A19!important}
.text-warning-darkest,.text-warning-darkest:focus,.text-warning-darkest:hover{color:#D84315!important}
.alpha-warning{background-color:#FBE9E7!important;border-color:#F4511E!important}


/*Info color system*/

.bg-info{background-color:#00BCD4!important;border-color:#00BCD4!important;color:#fff!important}
.bg-info-lighter{background-color:#4DD0E1!important;border-color:#4DD0E1!important;color:#fff!important}
.bg-info-light{background-color:#26C6DA!important;border-color:#26C6DA!important;color:#fff!important}
.bg-info-dark{background-color:#00ACC1!important;border-color:#00ACC1!important;color:#fff!important}
.bg-info-darker{background-color:#0097A7!important;border-color:#0097A7!important;color:#fff!important}
.bg-info-darkest{background-color:#00838F!important;border-color:#00838F!important;color:#fff!important}
.border-info{border-color:#00BCD4!important}
.border-info-lighter{border-color:#4DD0E1!important}
.border-info-light{border-color:#26C6DA!important}
.border-info-dark{border-color:#00ACC1!important}
.border-info-darker{border-color:#0097A7!important}
.border-info-darkest{border-color:#00838F!important}
.border-top-info{border-top-color:#00BCD4!important}
.border-top-info-lighter{border-top-color:#4DD0E1!important}
.border-top-info-light{border-top-color:#26C6DA!important}
.border-top-info-dark{border-top-color:#00ACC1!important}
.border-top-info-darker{border-top-color:#0097A7!important}
.border-top-info-darkest{border-top-color:#00838F!important}
.border-bottom-info{border-bottom-color:#00BCD4!important}
.border-bottom-info-lighter{border-bottom-color:#4DD0E1!important}
.border-bottom-info-light{border-bottom-color:#26C6DA!important}
.border-bottom-info-dark{border-bottom-color:#00ACC1!important}
.border-bottom-info-darker{border-bottom-color:#0097A7!important}
.border-bottom-info-darkest{border-bottom-color:#00838F!important}
.border-left-info{border-left-color:#00BCD4!important}
.border-left-info-lighter{border-left-color:#4DD0E1!important}
.border-left-info-light{border-left-color:#26C6DA!important}
.border-left-info-dark{border-left-color:#00ACC1!important}
.border-left-info-darker{border-left-color:#0097A7!important}
.border-left-info-darkest{border-left-color:#00838F!important}
.border-right-info{border-right-color:#00BCD4!important}
.border-right-info-lighter{border-right-color:#4DD0E1!important}
.border-right-info-light{border-right-color:#26C6DA!important}
.border-right-info-dark{border-right-color:#00ACC1!important}
.border-right-info-darker{border-right-color:#0097A7!important}
.border-right-info-darkest{border-right-color:#00838F!important}
.text-info,.text-info:focus,.text-info:hover{color: #23b7e5!important;}
.text-info-lighter,.text-info-lighter:focus,.text-info-lighter:hover{color:#4DD0E1!important}
.text-info-light,.text-info-light:focus,.text-info-light:hover{color:#26C6DA!important}
.text-info-dark,.text-info-dark:focus,.text-info-dark:hover{color:#00ACC1!important}
.text-info-darker,.text-info-darker:focus,.text-info-darker:hover{color:#0097A7!important}
.text-info-darkest,.text-info-darkest:focus,.text-info-darkest:hover{color:#00838F!important}
.alpha-info{background-color:#E0F7FA!important;border-color:#00ACC1!important}


/*******************************
Google colors
*******************************/

/*Pink color system*/

.bg-pink{background-color:#E91E63!important;border-color:#E91E63!important;color:#fff!important}
.bg-pink-lighter{background-color:#F06292!important;border-color:#F06292!important;color:#fff!important}
.bg-pink-light{background-color:#EC407A!important;border-color:#EC407A!important;color:#fff!important}
.bg-pink-dark{background-color:#D81B60!important;border-color:#D81B60!important;color:#fff!important}
.bg-pink-darker{background-color:#C2185B!important;border-color:#C2185B!important;color:#fff!important}
.bg-pink-darkest{background-color:#AD1457!important;border-color:#AD1457!important;color:#fff!important}
.border-pink{border-color:#E91E63!important}
.border-pink-lighter{border-color:#F06292!important}
.border-pink-light{border-color:#EC407A!important}
.border-pink-dark{border-color:#D81B60!important}
.border-pink-darker{border-color:#C2185B!important}
.border-pink-darkest{border-color:#AD1457!important}
.border-top-pink{border-top-color:#E91E63!important}
.border-top-pink-lighter{border-top-color:#F06292!important}
.border-top-pink-light{border-top-color:#EC407A!important}
.border-top-pink-dark{border-top-color:#D81B60!important}
.border-top-pink-darker{border-top-color:#C2185B!important}
.border-top-pink-darkest{border-top-color:#AD1457!important}
.border-bottom-pink{border-bottom-color:#E91E63!important}
.border-bottom-pink-lighter{border-bottom-color:#F06292!important}
.border-bottom-pink-light{border-bottom-color:#EC407A!important}
.border-bottom-pink-dark{border-bottom-color:#D81B60!important}
.border-bottom-pink-darker{border-bottom-color:#C2185B!important}
.border-bottom-pink-darkest{border-bottom-color:#AD1457!important}
.border-left-pink{border-left-color:#E91E63!important}
.border-left-pink-lighter{border-left-color:#F06292!important}
.border-left-pink-light{border-left-color:#EC407A!important}
.border-left-pink-dark{border-left-color:#D81B60!important}
.border-left-pink-darker{border-left-color:#C2185B!important}
.border-left-pink-darkest{border-left-color:#AD1457!important}
.border-right-pink{border-right-color:#E91E63!important}
.border-right-pink-lighter{border-right-color:#F06292!important}
.border-right-pink-light{border-right-color:#EC407A!important}
.border-right-pink-dark{border-right-color:#D81B60!important}
.border-right-pink-darker{border-right-color:#C2185B!important}
.border-right-pink-darkest{border-right-color:#AD1457!important}
.text-pink,.text-pink:focus,.text-pink:hover{color:#E91E63!important}
.text-pink-lighter,.text-pink-lighter:focus,.text-pink-lighter:hover{color:#F06292!important}
.text-pink-light,.text-pink-light:focus,.text-pink-light:hover{color:#EC407A!important}
.text-pink-dark,.text-pink-dark:focus,.text-pink-dark:hover{color:#D81B60!important}
.text-pink-darker,.text-pink-darker:focus,.text-pink-darker:hover{color:#C2185B!important}
.text-pink-darkest,.text-pink-darkest:focus,.text-pink-darkest:hover{color:#AD1457!important}
.alpha-pink{background-color:#FCE4EC!important;border-color:#D81B60!important}


/*Purple color system*/

.bg-purple{background-color:#9C27B0!important;border-color: #a58bd3!important;color:#fff!important;}
.bg-purple-lighter{background-color:#BA68C8!important;border-color:#BA68C8!important;color:#fff!important}
.bg-purple-light{background-color:#AB47BC!important;border-color:#AB47BC!important;color:#fff!important}
.bg-purple-dark{background-color:#8E24AA!important;border-color:#8E24AA!important;color:#fff!important}
.bg-purple-darker{background-color:#7B1FA2!important;border-color:#7B1FA2!important;color:#fff!important}
.bg-purple-darkest{background-color:#6A1B9A!important;border-color:#6A1B9A!important;color:#fff!important}
.border-purple{border-color:#9C27B0!important}
.border-purple-lighter{border-color:#BA68C8!important}
.border-purple-light{border-color:#AB47BC!important}
.border-purple-dark{border-color:#8E24AA!important}
.border-purple-darker{border-color:#7B1FA2!important}
.border-purple-darkest{border-color:#6A1B9A!important}
.border-top-purple{border-top-color:#9C27B0!important}
.border-top-purple-lighter{border-top-color:#BA68C8!important}
.border-top-purple-light{border-top-color:#AB47BC!important}
.border-top-purple-dark{border-top-color:#8E24AA!important}
.border-top-purple-darker{border-top-color:#7B1FA2!important}
.border-top-purple-darkest{border-top-color:#6A1B9A!important}
.border-bottom-purple{border-bottom-color:#9C27B0!important}
.border-bottom-purple-lighter{border-bottom-color:#BA68C8!important}
.border-bottom-purple-light{border-bottom-color:#AB47BC!important}
.border-bottom-purple-dark{border-bottom-color:#8E24AA!important}
.border-bottom-purple-darker{border-bottom-color:#7B1FA2!important}
.border-bottom-purple-darkest{border-bottom-color:#6A1B9A!important}
.border-left-purple{border-left-color:#9C27B0!important}
.border-left-purple-lighter{border-left-color:#BA68C8!important}
.border-left-purple-light{border-left-color:#AB47BC!important}
.border-left-purple-dark{border-left-color:#8E24AA!important}
.border-left-purple-darker{border-left-color:#7B1FA2!important}
.border-left-purple-darkest{border-left-color:#6A1B9A!important}
.border-right-purple{border-right-color:#9C27B0!important}
.border-right-purple-lighter{border-right-color:#BA68C8!important}
.border-right-purple-light{border-right-color:#AB47BC!important}
.border-right-purple-dark{border-right-color:#8E24AA!important}
.border-right-purple-darker{border-right-color:#7B1FA2!important}
.border-right-purple-darkest{border-right-color:#6A1B9A!important}
.text-purple,.text-purple:focus,.text-purple:hover{color:#9C27B0!important}
.text-purple-lighter,.text-purple-lighter:focus,.text-purple-lighter:hover{color:#BA68C8!important}
.text-purple-light,.text-purple-light:focus,.text-purple-light:hover{color:#AB47BC!important}
.text-purple-dark,.text-purple-dark:focus,.text-purple-dark:hover{color:#8E24AA!important}
.text-purple-darker,.text-purple-darker:focus,.text-purple-darker:hover{color:#7B1FA2!important}
.text-purple-darkest,.text-purple-darkest:focus,.text-purple-darkest:hover{color:#6A1B9A!important}
.alpha-purple{background-color:#EDE7F6!important;border-color:#8E24AA!important}


/*Indigo color system*/

.bg-indigo{background-color:#3F51B5!important;border-color:#3F51B5!important;color:#fff!important}
.bg-indigo-lighter{background-color:#7986CB!important;border-color:#7986CB!important;color:#fff!important}
.bg-indigo-light{background-color:#5C6BC0!important;border-color:#5C6BC0!important;color:#fff!important}
.bg-indigo-dark{background-color:#3949AB!important;border-color:#3949AB!important;color:#fff!important}
.bg-indigo-darker{background-color:#303F9F!important;border-color:#303F9F!important;color:#fff!important}
.bg-indigo-darkest{background-color:#283593!important;border-color:#283593!important;color:#fff!important}
.border-indigo{border-color:#3F51B5!important}
.border-indigo-lighter{border-color:#7986CB!important}
.border-indigo-light{border-color:#5C6BC0!important}
.border-indigo-dark{border-color:#3949AB!important}
.border-indigo-darker{border-color:#303F9F!important}
.border-indigo-darkest{border-color:#283593!important}
.border-top-indigo{border-top-color:#3F51B5!important}
.border-top-indigo-lighter{border-top-color:#7986CB!important}
.border-top-indigo-light{border-top-color:#5C6BC0!important}
.border-top-indigo-dark{border-top-color:#3949AB!important}
.border-top-indigo-darker{border-top-color:#303F9F!important}
.border-top-indigo-darkest{border-top-color:#283593!important}
.border-bottom-indigo{border-bottom-color:#3F51B5!important}
.border-bottom-indigo-lighter{border-bottom-color:#7986CB!important}
.border-bottom-indigo-light{border-bottom-color:#5C6BC0!important}
.border-bottom-indigo-dark{border-bottom-color:#3949AB!important}
.border-bottom-indigo-darker{border-bottom-color:#303F9F!important}
.border-bottom-indigo-darkest{border-bottom-color:#283593!important}
.border-left-indigo{border-left-color:#3F51B5!important}
.border-left-indigo-lighter{border-left-color:#7986CB!important}
.border-left-indigo-light{border-left-color:#5C6BC0!important}
.border-left-indigo-dark{border-left-color:#3949AB!important}
.border-left-indigo-darker{border-left-color:#303F9F!important}
.border-left-indigo-darkest{border-left-color:#283593!important}
.border-right-indigo{border-right-color:#3F51B5!important}
.border-right-indigo-lighter{border-right-color:#7986CB!important}
.border-right-indigo-light{border-right-color:#5C6BC0!important}
.border-right-indigo-dark{border-right-color:#3949AB!important}
.border-right-indigo-darker{border-right-color:#303F9F!important}
.border-right-indigo-darkest{border-right-color:#283593!important}
.text-indigo,.text-indigo:focus,.text-indigo:hover{color:#3F51B5!important}
.text-indigo-lighter,.text-indigo-lighter:focus,.text-indigo-lighter:hover{color:#7986CB!important}
.text-indigo-light,.text-indigo-light:focus,.text-indigo-light:hover{color:#5C6BC0!important}
.text-indigo-dark,.text-indigo-dark:focus,.text-indigo-dark:hover{color:#3949AB!important}
.text-indigo-darker,.text-indigo-darker:focus,.text-indigo-darker:hover{color:#303F9F!important}
.text-indigo-darkest,.text-indigo-darkest:focus,.text-indigo-darkest:hover{color:#283593!important}
.alpha-indigo{background-color:#E8EAF6!important;border-color:#3949AB!important}


/*blue color system*/

.bg-blue{/* background-color:#03A9F4!important; */border-color:#03A9F4!important;/* color:#fff!important; */background: linear-gradient(to top, #1991eb, #2da1f8);}
.bg-blue-lighter{background-color:#4FC3F7!important;border-color:#4FC3F7!important;color:#fff!important}
.bg-blue-light{background-color:#29B6F6!important;border-color:#29B6F6!important;color:#fff!important}
.bg-blue-dark{background-color:#039BE5!important;border-color:#039BE5!important;color:#fff!important}
.bg-blue-darker{background-color:#0288D1!important;border-color:#0288D1!important;color:#fff!important}
.bg-blue-darkest{background-color:#0277BD!important;border-color:#0277BD!important;color:#fff!important}
.border-blue{border-color:#03A9F4!important}
.border-blue-lighter{border-color:#4FC3F7!important}
.border-blue-light{border-color:#29B6F6!important}
.border-blue-dark{border-color:#039BE5!important}
.border-blue-darker{border-color:#0288D1!important}
.border-blue-darkest{border-color:#0277BD!important}
.border-top-blue{border-top-color:#03A9F4!important}
.border-top-blue-lighter{border-top-color:#4FC3F7!important}
.border-top-blue-light{border-top-color:#29B6F6!important}
.border-top-blue-dark{border-top-color:#039BE5!important}
.border-top-blue-darker{border-top-color:#0288D1!important}
.border-top-blue-darkest{border-top-color:#0277BD!important}
.border-bottom-blue{border-bottom-color:#03A9F4!important}
.border-bottom-blue-lighter{border-bottom-color:#4FC3F7!important}
.border-bottom-blue-light{border-bottom-color:#29B6F6!important}
.border-bottom-blue-dark{border-bottom-color:#039BE5!important}
.border-bottom-blue-darker{border-bottom-color:#0288D1!important}
.border-bottom-blue-darkest{border-bottom-color:#0277BD!important}
.border-left-blue{border-left-color:#03A9F4!important}
.border-left-blue-lighter{border-left-color:#4FC3F7!important}
.border-left-blue-light{border-left-color:#29B6F6!important}
.border-left-blue-dark{border-left-color:#039BE5!important}
.border-left-blue-darker{border-left-color:#0288D1!important}
.border-left-blue-darkest{border-left-color:#0277BD!important}
.border-right-blue{border-right-color:#03A9F4!important}
.border-right-blue-lighter{border-right-color:#4FC3F7!important}
.border-right-blue-light{border-right-color:#29B6F6!important}
.border-right-blue-dark{border-right-color:#039BE5!important}
.border-right-blue-darker{border-right-color:#0288D1!important}
.border-right-blue-darkest{border-right-color:#0277BD!important}
.text-blue,.text-blue:focus,.text-blue:hover{color:#03A9F4!important}
.text-blue-lighter,.text-blue-lighter:focus,.text-blue-lighter:hover{color:#4FC3F7!important}
.text-blue-light,.text-blue-light:focus,.text-blue-light:hover{color:#29B6F6!important}
.text-blue-dark,.text-blue-dark:focus,.text-blue-dark:hover{color:#039BE5!important}
.text-blue-darker,.text-blue-darker:focus,.text-blue-darker:hover{color:#0288D1!important}
.text-blue-darkest,.text-blue-darkest:focus,.text-blue-darkest:hover{color:#0277BD!important}
.alpha-blue{background-color:#E1F5FE!important;border-color:#039BE5!important}


/*Teal color system*/

.bg-teal{background-color:#009688!important;border-color:#009688!important;color:#fff!important}
.bg-teal-lighter{background-color:#4DB6AC!important;border-color:#4DB6AC!important;color:#fff!important}
.bg-teal-light{background-color:#26A69A!important;border-color:#26A69A!important;color:#fff!important}
.bg-teal-dark{background-color:#00897B!important;border-color:#00897B!important;color:#fff!important}
.bg-teal-darker{background-color:#00796B!important;border-color:#00796B!important;color:#fff!important}
.bg-teal-darkest{background-color:#00695C!important;border-color:#00695C!important;color:#fff!important}
.border-teal{border-color:#009688!important}
.border-teal-lighter{border-color:#4DB6AC!important}
.border-teal-light{border-color:#26A69A!important}
.border-teal-dark{border-color:#00897B!important}
.border-teal-darker{border-color:#00796B!important}
.border-teal-darkest{border-color:#00695C!important}
.border-top-teal{border-top-color:#009688!important}
.border-top-teal-lighter{border-top-color:#4DB6AC!important}
.border-top-teal-light{border-top-color:#26A69A!important}
.border-top-teal-dark{border-top-color:#00897B!important}
.border-top-teal-darker{border-top-color:#00796B!important}
.border-top-teal-darkest{border-top-color:#00695C!important}
.border-bottom-teal{border-bottom-color:#009688!important}
.border-bottom-teal-lighter{border-bottom-color:#4DB6AC!important}
.border-bottom-teal-light{border-bottom-color:#26A69A!important}
.border-bottom-teal-dark{border-bottom-color:#00897B!important}
.border-bottom-teal-darker{border-bottom-color:#00796B!important}
.border-bottom-teal-darkest{border-bottom-color:#00695C!important}
.border-left-teal{border-left-color:#009688!important}
.border-left-teal-lighter{border-left-color:#4DB6AC!important}
.border-left-teal-light{border-left-color:#26A69A!important}
.border-left-teal-dark{border-left-color:#00897B!important}
.border-left-teal-darker{border-left-color:#00796B!important}
.border-left-teal-darkest{border-left-color:#00695C!important}
.border-right-teal{border-right-color:#009688!important}
.border-right-teal-lighter{border-right-color:#4DB6AC!important}
.border-right-teal-light{border-right-color:#26A69A!important}
.border-right-teal-dark{border-right-color:#00897B!important}
.border-right-teal-darker{border-right-color:#00796B!important}
.border-right-teal-darkest{border-right-color:#00695C!important}
.text-teal,.text-teal:focus,.text-teal:hover{color:#009688!important}
.text-teal-lighter,.text-teal-lighter:focus,.text-teal-lighter:hover{color:#4DB6AC!important}
.text-teal-light,.text-teal-light:focus,.text-teal-light:hover{color:#26A69A!important}
.text-teal-dark,.text-teal-dark:focus,.text-teal-dark:hover{color:#00897B!important}
.text-teal-darker,.text-teal-darker:focus,.text-teal-darker:hover{color:#00796B!important}
.text-teal-darkest,.text-teal-darkest:focus,.text-teal-darkest:hover{color:#00695C!important}
.alpha-teal{background-color:#E0F2F1!important;border-color:#00897B!important}


/*Lime color system*/

.bg-lime{background-color:#CDDC39!important;border-color:#CDDC39!important;color:#fff!important}
.bg-lime-lighter{background-color:#DCE775!important;border-color:#DCE775!important;color:#fff!important}
.bg-lime-light{background-color:#D4E157!important;border-color:#D4E157!important;color:#fff!important}
.bg-lime-dark{background-color:#C0CA33!important;border-color:#C0CA33!important;color:#fff!important}
.bg-lime-darker{background-color:#AFB42B!important;border-color:#AFB42B!important;color:#fff!important}
.bg-lime-darkest{background-color:#9E9D24!important;border-color:#9E9D24!important;color:#fff!important}
.border-lime{border-color:#CDDC39!important}
.border-lime-lighter{border-color:#DCE775!important}
.border-lime-light{border-color:#D4E157!important}
.border-lime-dark{border-color:#C0CA33!important}
.border-lime-darker{border-color:#AFB42B!important}
.border-lime-darkest{border-color:#9E9D24!important}
.border-top-lime{border-top-color:#CDDC39!important}
.border-top-lime-lighter{border-top-color:#DCE775!important}
.border-top-lime-light{border-top-color:#D4E157!important}
.border-top-lime-dark{border-top-color:#C0CA33!important}
.border-top-lime-darker{border-top-color:#AFB42B!important}
.border-top-lime-darkest{border-top-color:#9E9D24!important}
.border-bottom-lime{border-bottom-color:#CDDC39!important}
.border-bottom-lime-lighter{border-bottom-color:#DCE775!important}
.border-bottom-lime-light{border-bottom-color:#D4E157!important}
.border-bottom-lime-dark{border-bottom-color:#C0CA33!important}
.border-bottom-lime-darker{border-bottom-color:#AFB42B!important}
.border-bottom-lime-darkest{border-bottom-color:#9E9D24!important}
.border-left-lime{border-left-color:#CDDC39!important}
.border-left-lime-lighter{border-left-color:#DCE775!important}
.border-left-lime-light{border-left-color:#D4E157!important}
.border-left-lime-dark{border-left-color:#C0CA33!important}
.border-left-lime-darker{border-left-color:#AFB42B!important}
.border-left-lime-darkest{border-left-color:#9E9D24!important}
.border-right-lime{border-right-color:#CDDC39!important}
.border-right-lime-lighter{border-right-color:#DCE775!important}
.border-right-lime-light{border-right-color:#D4E157!important}
.border-right-lime-dark{border-right-color:#C0CA33!important}
.border-right-lime-darker{border-right-color:#AFB42B!important}
.border-right-lime-darkest{border-right-color:#9E9D24!important}
.text-lime,.text-lime:focus,.text-lime:hover{color:#CDDC39!important}
.text-lime-lighter,.text-lime-lighter:focus,.text-lime-lighter:hover{color:#DCE775!important}
.text-lime-light,.text-lime-light:focus,.text-lime-light:hover{color:#D4E157!important}
.text-lime-dark,.text-lime-dark:focus,.text-lime-dark:hover{color:#C0CA33!important}
.text-lime-darker,.text-lime-darker:focus,.text-lime-darker:hover{color:#AFB42B!important}
.text-lime-darkest,.text-lime-darkest:focus,.text-lime-darkest:hover{color:#9E9D24!important}
.alpha-lime{background-color:#F1F8E9!important;border-color:#C0CA33!important}


/*Amber color system*/

.bg-amber{background-color:#FFC107!important;border-color:#FFC107!important;color:#fff!important}
.bg-amber-lighter{background-color:#FFD54F!important;border-color:#FFD54F!important;color:#fff!important}
.bg-amber-light{background-color:#FFCA28!important;border-color:#FFCA28!important;color:#fff!important}
.bg-amber-dark{background-color:#FFB300!important;border-color:#FFB300!important;color:#fff!important}
.bg-amber-darker{/* background-color:#FFA000!important; */border-color:#FFA000!important;color:#fff!important;background-image: linear-gradient(to bottom, #f7981c, #f76b1c);}
.bg-amber-darkest{background-color:#FF8F00!important;border-color:#FF8F00!important;color:#fff!important}
.border-amber{border-color:#FFC107!important}
.border-amber-lighter{border-color:#FFD54F!important}
.border-amber-light{border-color:#FFCA28!important}
.border-amber-dark{border-color:#FFB300!important}
.border-amber-darker{border-color:#FFA000!important}
.border-amber-darkest{border-color:#FF8F00!important}
.border-top-amber{border-top-color:#FFC107!important}
.border-top-amber-lighter{border-top-color:#FFD54F!important}
.border-top-amber-light{border-top-color:#FFCA28!important}
.border-top-amber-dark{border-top-color:#FFB300!important}
.border-top-amber-darker{border-top-color:#FFA000!important}
.border-top-amber-darkest{border-top-color:#FF8F00!important}
.border-bottom-amber{border-bottom-color:#FFC107!important}
.border-bottom-amber-lighter{border-bottom-color:#FFD54F!important}
.border-bottom-amber-light{border-bottom-color:#FFCA28!important}
.border-bottom-amber-dark{border-bottom-color:#FFB300!important}
.border-bottom-amber-darker{border-bottom-color:#FFA000!important}
.border-bottom-amber-darkest{border-bottom-color:#FF8F00!important}
.border-left-amber{border-left-color:#FFC107!important}
.border-left-amber-lighter{border-left-color:#FFD54F!important}
.border-left-amber-light{border-left-color:#FFCA28!important}
.border-left-amber-dark{border-left-color:#FFB300!important}
.border-left-amber-darker{border-left-color:#FFA000!important}
.border-left-amber-darkest{border-left-color:#FF8F00!important}
.border-right-amber{border-right-color:#FFC107!important}
.border-right-amber-lighter{border-right-color:#FFD54F!important}
.border-right-amber-light{border-right-color:#FFCA28!important}
.border-right-amber-dark{border-right-color:#FFB300!important}
.border-right-amber-darker{border-right-color:#FFA000!important}
.border-right-amber-darkest{border-right-color:#FF8F00!important}
.text-amber,.text-amber:focus,.text-amber:hover{color:#FFC107!important}
.text-amber-lighter,.text-amber-lighter:focus,.text-amber-lighter:hover{color:#FFD54F!important}
.text-amber-light,.text-amber-light:focus,.text-amber-light:hover{color:#FFCA28!important}
.text-amber-dark,.text-amber-dark:focus,.text-amber-dark:hover{color:#FFB300!important}
.text-amber-darker,.text-amber-darker:focus,.text-amber-darker:hover{color:#FFA000!important}
.text-amber-darkest,.text-amber-darkest:focus,.text-amber-darkest:hover{color:#FF8F00!important}
.alpha-amber{background-color:#FFF3E0!important;border-color:#FFB300!important}


/*Brown color system*/

.bg-brown{background-color:#795548!important;border-color:#795548!important;color:#fff!important}
.bg-brown-lighter{background-color:#A1887F!important;border-color:#A1887F!important;color:#fff!important}
.bg-brown-light{background-color:#8D6E63!important;border-color:#8D6E63!important;color:#fff!important}
.bg-brown-dark{background-color:#6D4C41!important;border-color:#6D4C41!important;color:#fff!important}
.bg-brown-darker{background-color:#5D4037!important;border-color:#5D4037!important;color:#fff!important}
.bg-brown-darkest{background-color:#4E342E!important;border-color:#4E342E!important;color:#fff!important}
.border-brown{border-color:#795548!important}
.border-brown-lighter{border-color:#A1887F!important}
.border-brown-light{border-color:#8D6E63!important}
.border-brown-dark{border-color:#6D4C41!important}
.border-brown-darker{border-color:#5D4037!important}
.border-brown-darkest{border-color:#4E342E!important}
.border-top-brown{border-top-color:#795548!important}
.border-top-brown-lighter{border-top-color:#A1887F!important}
.border-top-brown-light{border-top-color:#8D6E63!important}
.border-top-brown-dark{border-top-color:#6D4C41!important}
.border-top-brown-darker{border-top-color:#5D4037!important}
.border-top-brown-darkest{border-top-color:#4E342E!important}
.border-bottom-brown{border-bottom-color:#795548!important}
.border-bottom-brown-lighter{border-bottom-color:#A1887F!important}
.border-bottom-brown-light{border-bottom-color:#8D6E63!important}
.border-bottom-brown-dark{border-bottom-color:#6D4C41!important}
.border-bottom-brown-darker{border-bottom-color:#5D4037!important}
.border-bottom-brown-darkest{border-bottom-color:#4E342E!important}
.border-left-brown{border-left-color:#795548!important}
.border-left-brown-lighter{border-left-color:#A1887F!important}
.border-left-brown-light{border-left-color:#8D6E63!important}
.border-left-brown-dark{border-left-color:#6D4C41!important}
.border-left-brown-darker{border-left-color:#5D4037!important}
.border-left-brown-darkest{border-left-color:#4E342E!important}
.border-right-brown{border-right-color:#795548!important}
.border-right-brown-lighter{border-right-color:#A1887F!important}
.border-right-brown-light{border-right-color:#8D6E63!important}
.border-right-brown-dark{border-right-color:#6D4C41!important}
.border-right-brown-darker{border-right-color:#5D4037!important}
.border-right-brown-darkest{border-right-color:#4E342E!important}
.text-brown,.text-brown:focus,.text-brown:hover{color:#795548!important}
.text-brown-lighter,.text-brown-lighter:focus,.text-brown-lighter:hover{color:#A1887F!important}
.text-brown-light,.text-brown-light:focus,.text-brown-light:hover{color:#8D6E63!important}
.text-brown-dark,.text-brown-dark:focus,.text-brown-dark:hover{color:#6D4C41!important}
.text-brown-darker,.text-brown-darker:focus,.text-brown-darker:hover{color:#5D4037!important}
.text-brown-darkest,.text-brown-darkest:focus,.text-brown-darkest:hover{color:#4E342E!important}
.alpha-brown{background-color:#EFEBE9!important;border-color:#6D4C41!important}


/*Grey color system*/

.bg-grey{background-color:#777!important;border-color:#777!important;color:#fff!important}
.bg-grey-lighter{background-color:#999!important;border-color:#999!important;color:#fff!important}
.bg-grey-light{background-color:#888!important;border-color:#888!important;color:#fff!important}
.bg-grey-dark{background-color:#666!important;border-color:#666!important;color:#fff!important}
.bg-grey-darker{background-color:#555!important;border-color:#555!important;color:#fff!important}
.bg-grey-darkest{background-color:#444!important;border-color:#444!important;color:#fff!important}
.border-grey{border-color:#777!important}
.border-grey-lighter{border-color:#999!important}
.border-grey-light{border-color:#888!important}
.border-grey-dark{border-color:#666!important}
.border-grey-darker{border-color:#555!important}
.border-grey-darkest{border-color:#444!important}
.border-top-grey{border-top-color:#777!important}
.border-top-grey-lighter{border-top-color:#999!important}
.border-top-grey-light{border-top-color:#888!important}
.border-top-grey-dark{border-top-color:#666!important}
.border-top-grey-darker{border-top-color:#555!important}
.border-top-grey-darkest{border-top-color:#444!important}
.border-bottom-grey{border-bottom-color:#777!important}
.border-bottom-grey-lighter{border-bottom-color:#999!important}
.border-bottom-grey-light{border-bottom-color:#888!important}
.border-bottom-grey-dark{border-bottom-color:#666!important}
.border-bottom-grey-darker{border-bottom-color:#555!important}
.border-bottom-grey-darkest{border-bottom-color:#444!important}
.border-left-grey{border-left-color:#777!important}
.border-left-grey-lighter{border-left-color:#999!important}
.border-left-grey-light{border-left-color:#888!important}
.border-left-grey-dark{border-left-color:#666!important}
.border-left-grey-darker{border-left-color:#555!important}
.border-left-grey-darkest{border-left-color:#444!important}
.border-right-grey{border-right-color:#777!important}
.border-right-grey-lighter{border-right-color:#999!important}
.border-right-grey-light{border-right-color:#888!important}
.border-right-grey-dark{border-right-color:#666!important}
.border-right-grey-darker{border-right-color:#555!important}
.border-right-grey-darkest{border-right-color:#444!important}
.text-grey,.text-grey:focus,.text-grey:hover{color:#777!important}
.text-grey-lighter,.text-grey-lighter:focus,.text-grey-lighter:hover{color:#999!important}
.text-grey-light,.text-grey-light:focus,.text-grey-light:hover{color:#888!important}
.text-grey-dark,.text-grey-dark:focus,.text-grey-dark:hover{color:#666!important}
.text-grey-darker,.text-grey-darker:focus,.text-grey-darker:hover{color:#555!important}
.text-grey-darkest,.text-grey-darkest:focus,.text-grey-darkest:hover{color:#444!important}
.alpha-grey{background-color:#FAFAFA!important;border-color:#666!important}


/*Slate color system*/

.bg-slate{background-color:#607D8B!important;border-color:#607D8B!important;color:#fff!important}
.bg-slate-lighter{background-color:#90A4AE!important;border-color:#90A4AE!important;color:#fff!important}
.bg-slate-light{background-color:#78909C!important;border-color:#78909C!important;color:#fff!important}
.bg-slate-dark{background-color:#546E7A!important;border-color:#546E7A!important;color:#fff!important}
.bg-slate-darker{background-color:#455A64!important;border-color:#455A64!important;color:#fff!important}
.bg-slate-darkest{background-color:#37474F!important;border-color:#37474F!important;color:#fff!important}
.border-slate{border-color:#607D8B!important}
.border-slate-lighter{border-color:#90A4AE!important}
.border-slate-light{border-color:#78909C!important}
.border-slate-dark{border-color:#546E7A!important}
.border-slate-darker{border-color:#455A64!important}
.border-slate-darkest{border-color:#37474F!important}
.border-top-slate{border-top-color:#607D8B!important}
.border-top-slate-lighter{border-top-color:#90A4AE!important}
.border-top-slate-light{border-top-color:#78909C!important}
.border-top-slate-dark{border-top-color:#546E7A!important}
.border-top-slate-darker{border-top-color:#455A64!important}
.border-top-slate-darkest{border-top-color:#37474F!important}
.border-bottom-slate{border-bottom-color:#607D8B!important}
.border-bottom-slate-lighter{border-bottom-color:#90A4AE!important}
.border-bottom-slate-light{border-bottom-color:#78909C!important}
.border-bottom-slate-dark{border-bottom-color:#546E7A!important}
.border-bottom-slate-darker{border-bottom-color:#455A64!important}
.border-bottom-slate-darkest{border-bottom-color:#37474F!important}
.border-left-slate{border-left-color:#607D8B!important}
.border-left-slate-lighter{border-left-color:#90A4AE!important}
.border-left-slate-light{border-left-color:#78909C!important}
.border-left-slate-dark{border-left-color:#546E7A!important}
.border-left-slate-darker{border-left-color:#455A64!important}
.border-left-slate-darkest{border-left-color:#37474F!important}
.border-right-slate{border-right-color:#607D8B!important}
.border-right-slate-lighter{border-right-color:#90A4AE!important}
.border-right-slate-light{border-right-color:#78909C!important}
.border-right-slate-dark{border-right-color:#546E7A!important}
.border-right-slate-darker{border-right-color:#455A64!important}
.border-right-slate-darkest{border-right-color:#37474F!important}
.text-slate,.text-slate:focus,.text-slate:hover{color:#607D8B!important}
.text-slate-lighter,.text-slate-lighter:focus,.text-slate-lighter:hover{color:#90A4AE!important}
.text-slate-light,.text-slate-light:focus,.text-slate-light:hover{color:#78909C!important}
.text-slate-dark,.text-slate-dark:focus,.text-slate-dark:hover{color:#546E7A!important}
.text-slate-darker,.text-slate-darker:focus,.text-slate-darker:hover{color:#455A64!important}
.text-slate-darkest,.text-slate-darkest:focus,.text-slate-darkest:hover{color:#37474F!important}
.alpha-slate{background-color:#ECEFF1!important;border-color:#546E7A!important}


/*Light color system*/

.bg-light{background-color:#CCCCCC!important;/* border-color:#CCCCCC!important; */color:#fff!important;}
.bg-light-lighter{background-color:#EEEEEE!important;border-color:#EEEEEE!important;color:#fff!important}
.bg-light-light{background-color:#DDDDDD!important;border-color:#DDDDDD!important;color:#fff!important}
.bg-light-dark{background-color:#BBBBBB!important;border-color:#BBBBBB!important;color:#fff!important}
.bg-light-darker{background-color:#AAAAAA!important;border-color:#AAAAAA!important;color:#fff!important}
.bg-light-darkest{background-color:#999999!important;border-color:#999999!important;color:#fff!important}
.border-light{border-color:#CCCCCC!important}
.border-light-lighter{border-color:#EEEEEE!important}
.border-light-light{border-color:#DDDDDD!important}
.border-light-dark{border-color:#BBBBBB!important}
.border-light-darker{border-color:#AAAAAA!important}
.border-light-darkest{border-color:#999999!important}
.border-top-light{border-top-color:#CCCCCC!important}
.border-top-light-lighter{border-top-color:#EEEEEE!important}
.border-top-light-light{border-top-color:#DDDDDD!important}
.border-top-light-dark{border-top-color:#BBBBBB!important}
.border-top-light-darker{border-top-color:#AAAAAA!important}
.border-top-light-darkest{border-top-color:#999999!important}
.border-bottom-light{border-bottom-color:#CCCCCC!important}
.border-bottom-light-lighter{border-bottom-color:#EEEEEE!important}
.border-bottom-light-light{border-bottom-color:#DDDDDD!important}
.border-bottom-light-dark{border-bottom-color:#BBBBBB!important}
.border-bottom-light-darker{border-bottom-color:#AAAAAA!important}
.border-bottom-light-darkest{border-bottom-color:#999999!important}
.border-left-light{border-left-color:#CCCCCC!important}
.border-left-light-lighter{border-left-color:#EEEEEE!important}
.border-left-light-light{border-left-color:#DDDDDD!important}
.border-left-light-dark{border-left-color:#BBBBBB!important}
.border-left-light-darker{border-left-color:#AAAAAA!important}
.border-left-light-darkest{border-left-color:#999999!important}
.border-right-light{border-right-color:#CCCCCC!important}
.border-right-light-lighter{border-right-color:#EEEEEE!important}
.border-right-light-light{border-right-color:#DDDDDD!important}
.border-right-light-dark{border-right-color:#BBBBBB!important}
.border-right-light-darker{border-right-color:#AAAAAA!important}
.border-right-light-darkest{border-right-color:#999999!important}
.alpha-light{background-color:#ECEFF1!important;border-color:#BBBBBB!important}


/*White color system*/

.bg-white{background-color:#fff!important;color:#333!important}
.border-white{border-color:#fff!important}
.border-light{border-color:#ddd!important}
.border-top-white{border-top-color:#fff!important}
.border-bottom-white{border-bottom-color:#fff!important}
.border-left-white{border-left-color:#fff!important}
.border-right-white{border-right-color:#fff!important}
.text-white,.text-white:focus,.text-white:hover{color:#fff!important}
.text-default,.text-default:focus,.text-default:hover{color:#333!important}
.text-dark,.text-dark:focus,.text-dark:hover{color:#222!important}
