
figure{position:relative}
figcaption{position:absolute;bottom:0;opacity:0;visibility:hidden;width:100%;color:#fff;padding:10px 15px;z-index:2;background-color:rgba(0,0,0,.7);-webkit-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s}
figure:hover figcaption{opacity:1;visibility:visible}
#scrollTop {background-color: rgba(0, 0, 0, 0.2);color: #fff;outline: 0;width: 32px;height: 32px;bottom: 10px;right: 10px;z-index: 200;transition: all .2s linear;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;position: fixed;z-index: 99;}
#scrollTop:hover {background-color: #666;transition: all .2s linear;}
#scrollTop i {line-height: 32px;width: 32px;height: 32px;text-align: center;font-size: 20px;color: #fff;}
.no-header{margin-top: 50px;}
.container-fluid{padding-left:15px;padding-right:15px;}
.video-container {position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.video-container iframe, .video-container object, .video-container embed {position:absolute;top:0;left:0;width:100%;height:100%;}
.launching-text{font-size:40px;font-family:open_sanslight;letter-spacing:-2px;}
.loader{margin-left:5px;}
.digit-huge{font-size:96px; line-height:80px;}
@media(min-width:1366px){
	.padding-large{padding:30px 40px 50px;}
}
@media (min-width: 769px){
	.lead {font-size: 16px;}
}
iframe{border:none;}

.col-middle {
	vertical-align: middle!important;
}


/*************************
Page Preloader
*************************/
#preloader {position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:9999999;}
#status {width:100px;height:100px;position:absolute;left:47%;top:46%;background-repeat:no-repeat;background-position:center;}
@media(max-width:320px){
	#status{left: 39%;top: 45%;}
}
@media screen and (min-width: 321px) and (max-width: 375px) {
	#status {left: 42%;}
}
@media screen and (min-width: 376px) and (max-width: 414px) {
	#status {left: 43%;}
}
@media screen and (min-width: 767px) and (max-width: 768px) {
	#status {left: 47%;}
}


/*************************
Navbar
*************************/
@media(min-width:1024px){.visible-handheld{display:none !important;}}
.main-nav{height: 50px;background-color: #2b3643;position: fixed;width: 100%;top: 0px;z-index: 1040;border-radius:0;/* background: #f1f1f1; *//* border-bottom: 1px solid #ddd; *//* border-right: 1px solid #ddd; */padding: 0 0 10px;box-shadow: inset 0px 4px 20px 0px rgba(0,0,0,.06);}
.main-nav img.user{width: 25px;padding-top: 3px;}
.main-nav .top-search-bar {width: 100%;height: 50px;background-color: #1b222c;position: fixed;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);top: -100px;z-index: 25;}
.main-nav .top-search-bar.search-bar-toggle {top: 0px;}
.main-nav .top-search-bar .search-input-addon {position: relative;}
.main-nav .top-search-bar .search-input-addon .addon-icon {height: 40px;width: 40px;display: inline-block;position: absolute;left: 0px;top: 2px;}
.main-nav .top-search-bar .search-input-addon .addon-icon i {height: 34px;width: 40px;font-size: 16px;text-align: center;line-height: 34px;display: inline-block;color: #ccc;}
.main-nav .top-search-bar .search-input-addon .top-search-input {height: 36px;margin-top: 7px;padding-left: 40px;border: #eee 1px solid;-webkit-box-shadow: none;box-shadow: none;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.main-nav .top-search-bar .search-input-addon .top-search-input:focus {-webkit-box-shadow: none;box-shadow: none;border: #ddd 1px solid;}
.main-nav .navbar-left {width: 235px;/* background-color:#1b222c; */height: 50px;padding:0 15px;}
.main-nav .navbar-left .left-branding {padding: 0px;margin: 0px;}
.main-nav .navbar-left .left-branding > li {height: 50px;display: inline-block;list-style: none;float: left;}
.main-nav .navbar-left .left-toggle-switch {width: 40px;height: 50px;display: inline-block;cursor: pointer;text-align: center;color: #ffffff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-o-transition: all 300ms linear;transition: all 300ms linear;}
.main-nav .navbar-left .left-toggle-switch i {width: 40px;height: 48px;display: inline-block;line-height: 50px;font-size: 16px;top:0px;}
.main-nav .navbar-left .left-toggle-switch:hover,.main-nav .navbar-left .left-toggle-switch:focus {-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);background-color: rgba(0, 0, 0, 0.05);}
.main-nav .navbar-left .logo {background:url('../assets/images/logo-light.png') no-repeat 0 0;height: 100%;width: 170px;margin: 8px 7px;background-size: contain;}
@media (min-width:1024px){
	.main-nav .navbar-right {padding:0px 20px 0;}
	.main-nav .navbar-right .top-right-icons {padding:0 15px !important;}
}
.main-nav .navbar-right .left-bar-switch {padding: 0px;margin: 0px;display: none;list-style: none;width: 44px;height: 60px;cursor: pointer;text-align: center;color: #757575;-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-o-transition: all 300ms linear;transition: all 300ms linear;}
.main-nav .navbar-right .left-bar-switch i {width: 44px;height: 60px;display: inline-block;line-height: 60px;font-size: 24px;}
.main-nav .navbar-right .left-bar-switch:hover,.main-nav .navbar-right .left-bar-switch:focus {-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);background-color: rgba(0, 0, 0, 0.05);}
.main-nav .navbar-right .top-right-icons {margin: 0px;padding: 0px;text-align: right;}
.main-nav .navbar-right .top-right-icons > li {display: inline-block;list-style: none;float: left;}
.main-nav .navbar-right .top-right-icons > li > a {position: relative;width: 44px;height: 50px;display: inline-block;cursor: pointer;text-align: center;color: rgba(255,255,255,1);-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-o-transition: all 300ms linear;transition: all 300ms linear;}
.main-nav .navbar-right .top-right-icons > li > a > i {width: 40px;height: 50px;display: inline-block;line-height: 50px;font-size: 16px;margin-top: 2px;}
.main-nav .navbar-right .top-right-icons > li > a:hover,.main-nav .navbar-right .top-right-icons > li > a:focus {-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);background-color: rgba(255,255,255,0.15);color: rgba(255,255,255,0.9);}
.apps-dropdown .dropdown-menu,.user-dropdown .dropdown-menu{width:250px;border-top: #ddd 1px solid;display: block;visibility: hidden;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transform: scale(0);-webkit-transform: scale(0);transform-origin: right top;-webkit-transform-origin: right top;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;right: 0px;left: auto;}
.apps-dropdown .dropdown-menu:after,.apps-dropdown .dropdown-menu:before,.user-dropdown .dropdown-menu:after,.user-dropdown .dropdown-menu:before{bottom: 100%;left: 92%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.apps-dropdown .dropdown-menu:after,.user-dropdown .dropdown-menu:after{border-color: rgba(255, 255, 255, 0);border-bottom-color: #fff;border-width: 8px;margin-left: -8px;}
.apps-dropdown .dropdown-menu:before,.user-dropdown .dropdown-menu:before{border-color: rgba(238, 238, 238, 0);border-bottom-color: #eee;border-width: 10px;margin-left: -10px;}
.apps-dropdown.open .dropdown-menu,.user-dropdown.open .dropdown-menu{visibility: visible;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transform: scale(1);-webkit-transform: scale(1);}
.apps-dropdown .shortcuts {list-style: none;padding: 0px;margin: 0px;}
.apps-dropdown .shortcuts > li {width: 50px;height: 70px;float: left;margin: 0px 16px 16px;display: inline-block;}
.apps-dropdown .shortcuts > li > a {position: relative;width: 50px;height: 70px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;color: #1b222c;display: inline-block;float: left;text-align: center;}
.apps-dropdown .shortcuts > li > a i {width: 50px;height: 56px;padding-top: 6px;margin-bottom: 3px;display: inline-block;line-height: 56px;font-size: 32px;}
.apps-dropdown .shortcuts > li > a:hover,.apps-dropdown .shortcuts > li > a:focus,.apps-dropdown .shortcuts > li > a:active,.apps-dropdown .shortcuts > li > a.active {color:#EF5350;text-decoration: none;}
.apps-dropdown .shortcuts > li > a .apps-label {display: block;font-size: 12px;}
.apps-dropdown .shortcuts > li > a .apps-noty {-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;right: 0px;top: 6px;display: inline-block;padding: 0px 7px;font-size: 11px;font-weight: 300;background-color: #ff5252;position: absolute;color: #ffffff;}
.notifications .dropdown-menu {border-top: #ddd 1px solid;display: block;visibility: hidden;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transform: scale(0);-webkit-transform: scale(0);transform-origin: right top;-webkit-transform-origin: right top;padding-bottom: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;right: 0px;left: auto;width: 290px;padding-top: 0px;}
.notifications .dropdown-menu:after,.notifications .dropdown-menu:before {bottom: 100%;left: 92.5%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.notifications .dropdown-menu:after {border-color: rgba(255, 255, 255, 0);border-bottom-color: #fff;border-width: 8px;margin-left: -8px;}
.notifications .dropdown-menu:before {border-color: rgba(238, 238, 238, 0);border-bottom-color: #eee;border-width: 10px;margin-left: -10px;}
.notifications .dropdown-menu .media-container {height: 382px;overflow-y: auto;}
.notifications .dropdown-menu .media-container > ul {padding: 0px;margin: 0px;}
.notifications .dropdown-menu .media-container > ul > li {display: table;padding: 0px;border-bottom: #eee 1px solid;background: #f9f9f9;}
.notifications .dropdown-menu .media-container > ul > li > a {font-size: 12px;color: #444444;text-decoration: none;padding: 8px;}
.notifications .dropdown-menu .media-container > ul > li > a:hover {text-decoration: none;}
.notifications .dropdown-menu .media-container > ul > li:hover,.notifications .dropdown-menu .media-container > ul > li:active,.notifications .dropdown-menu .media-container > ul > li:focus {background: #fff;text-decoration: none;}
.notifications.open .dropdown-menu {visibility: visible;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transform: scale(1);-webkit-transform: scale(1);}
.media-thumb {width: 40px;height: 40px;display: table-cell;vertical-align: middle;}
.media-thumb img {width: 40px;height: 40px;padding: 2px;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.media-thumb .media-letter {width: 40px;height: 40px;padding: 2px;color: #fff;line-height: 34px;font-weight: 300;text-align: center;display: inline-block;font-size: 24px;text-transform: uppercase;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;background: #1b222c;}
.media-title {display: inline-block;width: 240px;display: table-cell;vertical-align: middle;padding-left: 0px !important;}
.media-time {display: block;color: #999;font-size:10px;}
.btn-link.btn-view-all {font-size: 12px;color: #444444;padding:7px 20px 9px;font-weight: 500;}
.btn-view-all i{font-size:16px;margin-right:6px;}
.btn-link.btn-view-all:hover,.btn-link.btn-view-all:active,.btn-link.btn-view-all:focus {background-color: #f5f5f5 !important;color: #EF5350 !important;text-decoration: none;}
.user-dropdown .btn-user{padding:10px 15px 0 10px;}
.user-dropdown .dropdown-menu{width:240px;padding:10px 0;}
.user-dropdown .dropdown-menu ul {padding:0;margin: 10px 0;}
.user-dropdown ul > li {display: block;list-style: none;}
.user-dropdown ul > li > a {position: relative;padding:8px 15px;display: block;border-bottom: #eee 1px solid;color: #222;font-size: 13px;}
.user-dropdown ul > li > a .apps-noty {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;right: 15px;top: 10px;display: inline-block;padding: 3px 4px;font-size: 10px;background-color: #ff5252;position: absolute;font-weight: 600;color: #ffffff;}
.user-dropdown ul > li > a:hover,.user-dropdown ul > li > a:focus,.user-dropdown ul > li > a:active,.user-dropdown ul > li > a.active {text-decoration: none;background-color: #f9f9f9;}
.user-dropdown ul > li > a i {padding-right: 5px;font-size:16px;top: -2px;}
.rightbar {width: 240px;background: #ffffff;position: fixed;z-index: 1090;top: 50px;height: 100%;right: 0px;/* border-left:1px solid rgba(0,0,0,.2); */-webkit-transform: translate(375px, 0);-moz-transform: translate(375px, 0);-o-transform: translate(375px, 0);-ms-transform: translate(375px, 0);transform: translate(375px, 0);-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);bottom: 0;left: auto;overflow: hidden;position: fixed;/* right: -280px; */top: 0;-webkit-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);-moz-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);-o-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);-ms-transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);width: 280px;z-index: 1080;box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);}

aside#pinned-sidebar {}
.rightbar.right-aside-toggle {-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);-o-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
.rightbar .media-container {overflow-y: auto;}
.rightbar .media-container > ul {padding: 0px;margin: 0px;}
.rightbar .media-container > ul > li {display: table;padding: 0px;border-bottom: #eee 1px solid;background: #f9f9f9;}
.rightbar .media-container > ul > li > a {font-size: 12px;color: #444444;text-decoration: none;padding: 15px;}
.rightbar .media-container > ul > li > a:hover {text-decoration: none;color: #EF5350;}
.rightbar .media-container > ul > li:hover,.rightbar .media-container > ul > li:active,.rightbar .media-container > ul > li:focus {background: #fff;text-decoration: none;}
.rightbar .media-container h4 {font-size: 14px;font-weight: 500;padding: 15px;margin: 0px;border-bottom: #eee 1px solid;}
.rightbar .notification-wrap {overflow-y: auto;}
.rightbar .notification-wrap > ul {list-style: none;padding: 0px;margin: 0px;}
.rightbar .notification-wrap > ul > li > a {width: 100%;display: table;padding: 15px;font-size: 12px;color: #444444;background: #f9f9f9;text-decoration: none;border-bottom: #eee 1px solid;}
.rightbar .notification-wrap > ul > li > a > span {display: table-cell;vertical-align: middle;}
.rightbar .notification-wrap > ul > li > a > span.ni {width: 44px;height: 44px;display: inline-block;line-height: 44px;text-align: center;font-size: 18px;color: #fff;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.rightbar .notification-wrap > ul > li > a:hover {background: #fff;}
.rightbar h4 {font-size: 14px;font-weight: 500;padding: 15px;margin: 0px;border-bottom: #eee 1px solid;}
.chat-user-container h3 {font-size: 12px;font-weight: 500;text-transform: uppercase;margin-top: 0px;margin-bottom: 0px;padding-top: 12px;padding-bottom: 12px;padding-left: 15px;padding-right: 15px;border-bottom: #eee 1px solid;letter-spacing: .1em;color: #333;}
.chat-user-container h3 .online-counter {font-size: 11px;text-transform: none;letter-spacing: normal;color: #43c021;}
.chat-user-list {margin: 0px 0px 0px 0px;padding: 0px;list-style: none;}
.chat-user-list > li {display: table;line-height: normal;position: relative;width: 100%;padding:10px 20px;cursor: pointer;color:#ccc;-webkit-transition: all 0.1s ease-out;-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;transition: all 0.1s ease-out;}
.chat-user-list > li > div {display: block;width: 100%;position: relative;color: #333;}
.chat-user-list > li > div > span {display: table-cell;vertical-align: middle;}
.chat-user-list > li > div:hover,.chat-user-list > li > div:focus {text-decoration: none;color: #EF5350;}
.chat-user-list > li .chat-avatar {position: relative;width: 40px;height: 40px;}
.chat-user-list > li .chat-avatar img {width: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 0;}
.chat-user-list > li .chat-u-info {padding-left: 12px;font-size: 13px;color: #505050;font-weight: 500;}
.chat-user-list > li .chat-u-info cite {display: block;font-size: 11px;font-style:normal;color: #526a82;padding-top: 3px;/* font-family: open_sansregular; */}
.chat-user-list > li .chat-u-status {position: absolute;top: 32%;right: 20px;color: #ccc;}
.chat-user-list > li .chat-u-status i {font-size: 10px;color: #ddd;}
.chat-user-list > li:hover {background:rgba(0,0,0,.15);-webkit-transition: all 0.1s ease-out;-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;transition: all 0.1s ease-out;}
.chat-user-list li.chat-u-online i {color: #43c021;}
.chat-user-list li.chat-u-away i {color: #ffb300;}
.chat-user-list li.chat-u-busy i {color: #ff5252;}
.right-chat-bar {width: 280px;background-color: #ffffff;position: fixed;z-index: 50;height: 100%;right: 0px;visibility: hidden;-webkit-transform: translate(320px, 0);-moz-transform: translate(320px, 0);-o-transform: translate(320px, 0);-ms-transform: translate(320px, 0);transform: translate(320px, 0);-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);border-left: 1px solid rgba(0,0,0,.2);}
.right-chat-bar.right-chat-toggle {-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);-o-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);visibility: visible;}
.chat-user-toolbar {/* padding: 10px 16px; *//* border-bottom:1px solid rgba(0,0,0,.2); *//* background-color: rgba(0,0,0,.15); */background-color: #292C35;/* font-family: 'Open Sans', arial; */font-weight: 100;font-size: 12px;height: 50px;width: 280px;z-index: 10;}
.chat-user-toolbar .chat-user-search {position: relative;width: 100%;background: none;color: #909090;/* font-family: 'Open Sans', arial, sans-serif; */font-weight: 700;/* padding: 16px 15px; */text-transform: uppercase;}
.chat-user-toolbar .chat-user-search input.form-control {padding-left: 36px;border-color:rgba(255,255,255,0.3);background:transparent;border-radius:0;box-shadow: none;}
.chat-user-toolbar .chat-user-search input.form-control:focus {border-color: #ccc;color:#fff;}
.chat-user-toolbar .chat-user-search .addon-icon {width: 38px;height: 38px;display: inline-block;position: absolute;}
.chat-user-toolbar .chat-user-search .addon-icon i {width: 38px;height: 38px;font-size: 14px;position: relative;color: #ccc;top: 0px;display: inline-block;text-align: center;line-height: 38px;}
.chat-user-toolbar .add-chat-list {width: 38px;height: 38px;display: inline-block;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;border: 1px solid rgba(255,255,255,0.3);background-color:transparent;box-shadow: none;cursor: pointer;color: #ccc;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
.chat-user-toolbar .add-chat-list:hover,.chat-user-toolbar .add-chat-list:focus {border: #EF5350 1px solid;background-color: #EF5350;color: #fff;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
.chat-user-toolbar .add-chat-list i {width: 38px;height: 38px;font-size: 18px;position: relative;top: 1px;display: inline-block;text-align: center;line-height: 35px;}
.coversation-header {display: table;padding: 10px 10px;border-bottom:1px solid rgba(0,0,0,.2);background: rgba(255, 255, 255, 0.15);}
.coversation-header > div {display: table-cell;vertical-align: middle;}
.coversation-header .chat-back {width: 20px;height: 40px;padding-right: 5px;text-align: center;}
.coversation-header .chat-back i {width: 20px;height: 40px;line-height: 45px;color: #000;font-size:16px;cursor: pointer;}
.coversation-header .active-conversation {/* width: 136px; */display: table;}
.coversation-header .active-conversation > div {display: table-cell;vertical-align: middle;}
.coversation-header .active-conversation .chat-avatar {width: 40px;height: 40px;padding-right: 5px;}
.coversation-header .active-conversation .chat-avatar img {width: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.coversation-header .active-conversation .chat-user-status ul {padding: 0px;margin: 0px;}
.coversation-header .active-conversation .chat-user-status ul li {list-style: none;line-height: normal;font-size: 12px;color: #000;width: 100%;}
.coversation-header .conversation-actions {width: 100px;}
.coversation-header .conversation-actions > ul {text-align: right;padding: 0px;margin: 0px;}
.coversation-header .conversation-actions > ul > li {width: 20px;height: 40px;list-style: none;line-height: normal;display: inline-block;text-align: center;}
.coversation-header .conversation-actions > ul > li i {width: 20px;height: 45px;line-height: 45px;text-align: center;color: #fff;cursor: pointer;font-size:16px;}
.coversation-header .conversation-actions > ul > li i:hover,.coversation-header .conversation-actions > ul > li i:focus {color: #EF5350;}
.coversation-header .conversation-actions > ul > li .dropdown-menu {display: block;visibility: hidden;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transform: scale(0);-webkit-transform: scale(0);transform-origin: right top;-webkit-transform-origin: right top;right: 0px;border: #eee 1px solid;margin-top: 10px;left: auto;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;box-shadow: none;}
.coversation-header .conversation-actions > ul > li .dropdown-menu > li > a {-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);padding: 6px 15px;color: #868686;}
.coversation-header .conversation-actions > ul > li .dropdown-menu > li > a:hover,.coversation-header .conversation-actions > ul > li .dropdown-menu > li > a:focus {color: #EF5350;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
.coversation-header .conversation-actions > ul > li .dropdown-menu > li > a:hover i,.coversation-header .conversation-actions > ul > li .dropdown-menu > li > a:focus i {border: #EF5350 1px solid;background-color: #EF5350;color: #fff;}
.coversation-header .conversation-actions > ul > li .dropdown-menu > li > a i {margin-right: 6px;}
.coversation-header .conversation-actions > ul > li.open .dropdown-menu {visibility: visible;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transform: scale(1);-webkit-transform: scale(1);}
.conversation-container {padding: 15px 0px;}
.conversation-row {display: table;width: 100%;padding: 0px 15px;}
.conversation-row > div {display: table-cell;vertical-align: top;}
.conversation-row img{max-width:100px;}
.conversation-row .conversation-thumb {width: 40px;height: 40px;padding-right: 10px;}
.conversation-row .conversation-thumb img {width: 40px;height: 40px;}
.conversation-row.even .conversation-list {position: relative;padding: 0px;margin: 0px;}
.conversation-row.even .conversation-list > li {padding: 5px 15px 6px;display: inline-block;list-style: none;z-index: 100;margin-bottom: 15px;background-color: #2B2E33;position: relative;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.conversation-row.even .conversation-list > li p {margin: 0px;color: #fff;font-size:12px;}
.conversation-row.even .conversation-list > li:after {right: 100%;top: 10px;left: -6px;border: solid transparent;content: "";height: 0;width: 0;-ms-transform: rotate(-90deg);/* IE 9 */-webkit-transform: rotate(-90deg);/* Chrome, Safari, Opera */transform: rotate(-90deg);position: absolute;z-index: 50;pointer-events: none;border-color: rgba(238, 238, 238, 0);border-right-color: #2B2E33;border-width: 10px;margin-top: -10px;}
.conversation-row.odd .conversation-list {position: relative;padding: 0px;margin: 0px;text-align: right !important;}
.conversation-row.odd .conversation-list > li {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;padding: 5px 15px 6px;display: inline-block;list-style: none;z-index: 100;margin-bottom: 15px;background-color: #EF5350 !important;position: relative;}
.conversation-row.odd .conversation-list > li p {margin: 0px;color: #fff !important;font-size:12px;text-align: left;}
.conversation-row.odd .conversation-list > li:after {left: auto !important;top: 10px !important;right: -6px !important;border: solid transparent;content: "";height: 0;width: 0;-ms-transform: rotate(-90deg);/* IE 9 */
-webkit-transform: rotate(-90deg);/* Chrome, Safari, Opera */
transform: rotate(-90deg);position: absolute;z-index: 50;pointer-events: none;border-color: rgba(238, 238, 238, 0);border-right-color: #EF5350 !important;border-width: 10px;margin-top: -10px;}
.chat-text-input {border-top:1px solid rgba(0,0,0,.2);background:rgba(0,0,0,.15);padding: 15px;}
.chat-text-input input.form-control {-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;border-color: rgba(255,255,255,0.3);background:transparent;box-shadow: none;padding:17px 10px 17px;}
.chat-text-input input.form-control:focus {color:#fff;}
.chat-text-input .btn-default{background:transparent;border-color: rgba(255,255,255,0.3);}
.chat-text-input .input-group-btn:last-child > .btn,.chat-text-input .input-group-btn:last-child > .btn-group{border-radius:0;}
.chat-text-input .btn-default i{color:rgba(255,255,255,0.5);}
.bubble {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius:100%;right:5%;top: 8px;display: inline-block;padding: 0px 5px;font-size: 9px;background-color:#f00 !important;position: absolute;font-weight: 600;color: #fff!important;z-index:9;line-height:16px;}


/******************************
Launching page
******************************/
.timer {margin:0 0 30px 0;}
.timer .days-wrapper,.timer .hours-wrapper,.timer .minutes-wrapper,.timer .seconds-wrapper {display: inline-block;width: 100px;margin: 0 10px;font-size: 18px;}
.timer .days,.timer .hours,.timer .minutes,.timer .seconds {font-size: 50px;line-height: 60px;}
@media (max-width: 767px) {
	.timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper { width: 145px; }
	.timer .slash { display: none; }
}


/******************************
Page search
******************************/
.search-content ul.list-inline{margin:-8px 0 10px;}
.search-content ul.list-inline li{font-size:11px;}
.search-content ul.list-inline li i{font-size:12px;}
.website-search-results{padding:15px 20px 0;}
.search-content .media-list-bordered>li{border-top:none;border-bottom:1px dotted #ddd;padding-bottom:15px;margin-bottom:15px;margin-top: 0;padding-top: 0;}
.search-content .news-results .media-list img{width: 70px;height: 70px;}
.search-content .news-results h5{margin-top:0;}
.search-content ul.list-inline{margin:-8px 0 5px;}
.search-content ul.list-inline li a{color:#111;}


/******************************
login pages
******************************/
.login-container .page-content{display:table-row;height:100%}
.login-container .login-form{width:320px;}
.login-container .login-form-wide{width:620px}
.login-container .login-form,.login-container .registration-form{margin:0 auto 20px}
.login-container ul.social-icons li a{width:38px;}
.login-container ul.social-icons li i{font-size:16px;}
.login-container ul.social-icons .btn-icon {padding-left: 9px;padding-right: 8px;}
.social-login{background:#fff; padding:16px; color:#222; margin-top:3px;}
.social-login a i{border:2px solid #1E88E5; border-radius:100%; margin:0 4px; padding:6px; width:36px; text-align:center; font-size:20px;}
.social-login a:hover i{border:2px solid #1E88E5; color:#fff; background:#1E88E5;}
.login-cover{background:url(../images/login_cover.jpg) no-repeat;background-size:cover}
.login-container{display:table;width:100%;height:100%; background:url('../images/login_bg.jpg') no-repeat 0 0;padding-top:80px;}
@media (max-width:480px){
	.login-container .login-form,.login-container .registration-form{width:90%}
}
.login-container .form-control-feedback i{color:#EF5350;}
.login-container .footer{left:0;right:0;text-align:center; color:#666;}
.login-container .footer a,.login-container .footer a:hover{color:#EF5350; text-decoration:none;}
.login-container .content-wrapper{vertical-align:middle;display:table-cell}
.login-container .nav-tabs.nav-justified{margin-bottom:0}
.login-container .nav-tabs.nav-justified>li>a{border-top:0!important;padding-left:15px;padding-right:15px;background-color:#f5f5f5}
.login-container .nav-tabs.nav-justified>li:first-child>a{border-left:0;border-radius:3px 0 0}
.login-container .nav-tabs.nav-justified>li:last-child>a{border-right:0;border-radius:0 3px 0 0}
.login-container .nav-tabs.nav-justified>li.active>a{background-color:transparent}
@media (max-width:768px){
	.login-container .nav-tabs.nav-justified{padding:0;border-width:0 0 1px;border-radius:0}
	.login-container .nav-tabs.nav-justified:before{content:none}
	.login-container .nav-tabs.nav-justified>li>a{border-width:0!important}
	.login-options,.login-options .text-right{text-align:center}
}
.icon-object{text-align:center;margin:10px;border-width:3px;border-style:solid;padding:15px 16px;}
.icon-object>i{font-size:42px;top:0}
.login-container.material .welcome {padding:20px;}
.login-container.material .welcome-text{padding-top:50px;}
.login-container.material .form-control{border:none;border-bottom:1px solid #ccc;border-radius:0;font-size: 12px;color:#222;padding:0;}
.login-container.material.unlock .welcome {margin-bottom:-100px;}
.login-container.material .img-unlock{position:relative; left:180px;top:-45px;z-index:9999;}


/******************************
Footer
******************************/
.footer-container {margin:10px 0 0px;padding: 0 0 20px 0;color: #111;font-size:12px;position: absolute;width:100%;}
.footer-container .footer-right {text-align: right;}
.footer-container .footer-right .footer-meta i {color: #00bcd4;}


/******************************
Activity feeds
******************************/
.sl-item:before {content: '';position: absolute;left: -6.5px;top: 0;background-color: #ccc;width: 12px;height: 12px;border-radius: 100%;}
.sl-item {position: relative;padding-bottom: 1px;border-left: 1px solid #ccc;padding-left: 15px;}
.sl-primary {border-left-color: #188ae2;}
.sl-danger {border-left-color: #ff5b5b;}
.sl-success {border-left-color: #10c469;}
.sl-warning {border-left-color: #f9c851;}
.sl-primary:before, .sl-primary:last-child:after {background-color: #188ae2;}
.sl-danger:before, .sl-danger:last-child:after {background-color: #ff5b5b;}
.sl-success:before, .sl-success:last-child:after {background-color: #10c469;}
.sl-warning:before, .sl-warning:last-child:after {background-color: #f9c851;}
.sl-item:last-child:after {content: '';position: absolute;left: -3px;bottom: 0;width: 6px;height: 6px;border-radius: 100%;}
.sl-warning:before, .sl-warning:last-child:after {background-color: #f9c851;}


/******************************
Theme switcher
******************************/
.theme-switcher {width: 250px;-webkit-transform: translate(250px, 0);-moz-transform: translate(250px, 0);-o-transform: translate(250px, 0);-ms-transform: translate(250px, 0);transform: translate(250px, 0);-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);background-color:#f5f5f5;color:#fff;height: 100%;position: fixed;right: 0px;top: 50px;z-index: 800;padding-top: 10px;padding-left: 15px;border-left: 1px solid #ccc;}
.theme-switcher.theme-switcher-toggle {-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);-o-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
.theme-switcher .theme-switcher-icon {cursor: pointer;width: 40px;height: 40px;display: inline-block;background-color:#f5f5f5;color:#333;position: absolute;left: -40px;top: 25px;z-index: 700;border-top-left-radius: 3px;border-bottom-left-radius: 3px;border:1px solid #ccc;border-right:none;}
.theme-switcher .theme-switcher-icon i {width: 42px;height: 44px;display: inline-block;line-height: 38px;font-size: 20px;text-align: center;}
.theme-switcher .switch-theme-colors > li.list-title{font-size: 12px;text-transform: uppercase;padding: 0px 0px 3px;color:#313D4F;font-weight: 300;}
.theme-switcher .layout-switch {margin-right: 15px;}
.theme-switcher .switch-theme-colors {list-style: none;padding: 0px;margin: 0px;}
.theme-switcher .switch-theme-colors > li .theme {margin-right: 10px;margin-bottom: 10px;width: 65px;position: relative; cursor:pointer;}
.theme-switcher .switch-theme-colors > li .theme > span {width: 54px;height: 30px;display: block;position: absolute;}
.theme-switcher .switch-theme-colors > li .theme > span.primary-t-color {left: 0px;top: 0px;background-color: #ddd;}
.theme-switcher .switch-theme-colors > li .theme > span.sec-t-color {right: 0px;top: 0px;background-color: #aaa;}
.theme img{border-radius:3px;cursor:pointer; width:65px;border: 1px solid #ddd;}


/******************************
Extras
******************************/
.sequence-number{color: #1b222c;/* font-family: 'Permanent Marker', cursive; */font-size: 12px;font-weight: 900;/* top: -10px; */position: absolute;/* -webkit-transform: rotate(-20deg); *//* transform: rotate(-20deg); */}
.sequence-number:after {
	/* content: '\e908'; */
	display: block;
	height: 15px;
	font-family: akn !important;
	speak: none;
	font-variant: normal;
	font-size: 30px;
	line-height: 15px;
	text-align: center;
}
.image-ops{
	font-size: 16px;
	color: #272e37;
	top: -4px;
	cursor: pointer;
}

.shadow{
	/* box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset; */
	/* -webkit-transition: box-shadow 0.2s ease-in; */
	margin:;
	/* margin: 4px; */
	height: 200px;
	/* border: 1px solid #e6e6e6; */
}


.text-handwritten{
	font-family: 'Euphoria Script', cursive !important;
}

.panel-stat-chart {

	position: relative;
}

#visitors-chart {
	bottom: 0;
	left: 0;
	position: absolute;
}

.f-40 {font-size: 40px !important;}
.f-right {float: right !important;}
.w-300{font-weight: 300 !important;}
.panel-stat .stat-title {color: #121212;opacity: 0.7;text-transform: uppercase;}


.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 12px;
	text-align: center;
}
.countdown-amount {
	font-size: 24px;
}
.countdown-period {
	display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

.widget {
	border-right: 1px solid #eaeaea;
	/* border-radius: 4px; */
}
.page-actions, .widget {
	margin-bottom: 20px;
}
.widget-body {
	padding: 11px;
}

.col-xs-height {
	display: table-cell;
	float: none;
}

.text-master {
    color: #626262!important;
}

.block {
    display: block;
}
/* Font Sizes
------------------------------------
*/
.fs-10 {
	font-size: 10px !important;
}
.fs-11 {
	font-size: 11px !important;
}
.fs-12 {
	font-size: 12px !important;
}
.fs-13 {
	font-size: 13px !important;
}
.fs-14 {
	font-size: 14px !important;
}
.fs-15 {
	font-size: 15px !important;
}
.fs-16 {
	font-size: 16px !important;
}
.fs-20 {
	font-size: 20px!important;
}
.fs-25 {
	font-size: 25px!important;
}
.fs-36 {
	font-size: 36px!important;
}
.fs-45 {
	font-size: 45px!important;
}
.fw-300 {
	font-weight: 300!important;
}
.fw-400 {
	font-weight: 400!important;
}

.border-selected-approved {
	-moz-box-shadow: 0px 0px 10px 5px rgba(244, 67, 54, 1);
	box-shadow: 0 1px 12px rgba(67, 192, 33, 1), 0 0 40px rgba(67, 192, 33, 0.2)inset !important;
}
.border-selected-rejected {
	-moz-box-shadow: 0px 0px 10px 5px rgba(244, 67, 54, 1);
	box-shadow: 0 1px 12px rgba(244, 67, 54, 1), 0 0 40px rgba(244, 67, 54, 0.2)inset !important;
}


@-webkit-keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.animated-background {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	-webkit-background-size: 800px 104px;
	background-size: 800px 104px;
	/* height: 96px; */
	position: relative;
}

.has-topbar{
	margin-top: 130px !important;
}

.session-header{
	/* margin-top: 50px !important; */
}

.email-details{
	width: 100% !important;
}

hr.style1{
	border-top: 1px dotted #c2c2c2;
}

/* Quick View
------------------------------------
*/
.quickview-wrapper {
	position: fixed;
	right: -285px;
	top: 50px;
	width: 285px;
	background: #fff;
	bottom: 0;
	z-index: 1000;
	box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
	border-left: 1px solid rgba(222, 227, 231, 0.56);
	-webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
	transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.quickview-wrapper.open {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-ms-transform: translate(-100%, 0);
}
.quickview-wrapper .quickview-toggle {
	position: absolute;
	right: 12px;
	top: 2px;
	color: #788195;
	padding: 6px;
	opacity: 0.4;
}
.quickview-wrapper .quickview-toggle:hover {
	opacity: 1;
}
.quickview-wrapper .nav-tabs {
	/* Quickview Tabs */
	background-color: #364150;
	position: relative;
	padding: 0 43px;
	/* padding: 10px 16px; */
}
.quickview-wrapper .nav-tabs > li > a {
	padding: 11px;
	color: #788195;
	opacity: 0.6;
	border: 0;
	text-align: center;
	/* font-size: 11px; */
	font-weight: bold;
	min-width: 62px;
}
.quickview-wrapper .nav-tabs > li > a:hover {
	color: #788195;
	opacity: 1;
}
.quickview-wrapper .nav-tabs > li.active > a,
.quickview-wrapper .nav-tabs > li.active > a:hover,
.quickview-wrapper .nav-tabs > li.active > a:focus {
	background-color: transparent;
	border: 0;
	color: #cdd0d8;
	opacity: 1;
}
.quickview-wrapper .nav-tabs ~ .tab-content {
	position: absolute;
	padding: 0;
	left: 0;
	right: 0;
	top: 38px;
	bottom: 0;
	height: auto;
}
.quickview-wrapper .nav-tabs ~ .tab-content > div {
	height: 100%;
}
.quickview-wrapper .nav-tabs ~ .tab-content ul {
	margin: 0;
	padding: 0;
}
.quickview-wrapper .nav-tabs ~ .tab-content ul li {
	list-style: none;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes {
	/* Quickview Notes */
	background: #fbf9e3;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes a,
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes button {
	color: #968974;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list {
	position: relative;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar {
	height: 50px;
	padding: 0 25px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul {
	margin-top: 10px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul > li {
	display: inline-block;
	height: auto;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul > li a {
	height: 22px;
	line-height: 22px;
	display: block;
	padding: 0 5px;
	font-size: 14px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul > li a:hover,
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul > li a.selected {
	background: #968974;
	color: #FBF9E3;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar .btn-remove-notes {
	background: transparent;
	bottom: 8px;
	display: block;
	left: 50%;
	margin-left: -40%;
	position: absolute;
	width: 83%;
	border: 1px solid #968974;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul {
	padding: 0;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li {
	cursor: pointer;
	height: 42px;
	padding: 0 25px;
	display: block;
	clear: both;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .left {
	float: left;
	width: 65%;
	height: 100%;
	padding-top: 9px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .left .checkbox {
	display: none;
	float: left;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .left .checkbox label {
	margin-right: 0;
	vertical-align: text-top;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .left p {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	display: inline-block;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .right {
	font-size: 10.5px;
	text-align: right;
	width: 35%;
	line-height: 41px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .right .date {
	margin-right: 10px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li:hover {
	background: #f4ecd1;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note {
	/* Quickview Note */
	background-image: url('/assets/images//notes_lines.png');
	background-repeat: repeat-y;
	background-position: 27px top;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note > div {
	display: table;
	height: 100%;
	width: 100%;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar {
	background: #fcfcfa;
	height: 55px;
	width: 100%;
	display: table-row;
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.33);
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar > li {
	display: inline-block;
	border-right: 1px solid #EDECEC;
	float: left;
	line-height: 55px;
	padding: 0;
	text-align: center;
	width: 55px;
	height: auto;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar > li > a {
	color: #a5a5a5;
	display: block;
	font-size: 14px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar > li > a:hover {
	background: #fffaf6;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar > li > a.active {
	color: #333;
	background: #f9f1ea;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar:after {
	position: absolute;
	content: "";
	width: 100%;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body {
	display: table-row;
	height: 100%;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body > div {
	display: table;
	height: 100%;
	width: 100%;
	padding: 0 20px 0 45px;
	white-space: normal;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .top {
	height: 50px;
	display: table-row;
	clear: both;
	line-height: 50px;
	text-align: center;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .top > a {
	float: left;
	color: #b0b0a8;
	margin-left: 10px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .top > span {
	font-style: italic;
	color: #b0b0a8;
	font-size: 11px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content {
	display: table-row;
	height: 100%;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content form {
	height: 100%;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content .quick-note-editor {
	font-size: 12px;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content .quick-note-editor:focus {
	outline: none;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content .quick-note-editor::-moz-selection {
	background: #fef8ae;
}
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content .quick-note-editor::selection {
	background: #fef8ae;
}



.split-view {
	position: relative;
	height: 100%;
}
.split-view .split-list {
	float: left;
	width: 360px;
	background: #fff;
	height: 100%;
	overflow-y: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
	border-right: 1px solid #e6e6e6;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.split-view .split-list.slideLeft {
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}
.split-view .split-list .list-refresh {
	position: absolute;
	right: 18px;
	top: 5px;
	color: #626262;
	opacity: .34;
	z-index: 101;
}
.split-view .split-list .list-view-fake-header,
.split-view .split-list .list-view-group-header {
	background: #f0f0f0;
	height: 30px;
	color: rgba(98, 98, 98, 0.7);
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 10.8px;
	padding-left: 13px;
	padding-top: 6px;
	letter-spacing: 0.04em;
	width: 100%;
}
.split-view .split-list .item {
	height: 117px;
	list-style: none;
	position: relative;
	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
	cursor: pointer;
}
.split-view .split-list .item .inline {
	width: 230px;
}
.split-view .split-list .item .inline > * {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: arial;
}
.split-view .split-list .item .recipients {
	letter-spacing: 0.01em;
}
.split-view .split-list .item .checkbox {
	float: left;
	clear: left;
	display: none;
}
.split-view .split-list .item .subject {
	font-family: 'Helvetica';
	font-size: 14.33px;
	color: #3b4752;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 36px;
	display: -webkit-box;
	white-space: normal;
	line-height: 18px;
}
.split-view .split-list .item .body {
	font-size: 12.6px;
	opacity: .52;
	height: 22px;
}
.split-view .split-list .item .datetime {
	color: #121212;
	font-family: arial;
	font-size: 11.1px;
	position: absolute;
	right: 20px;
	top: 15px;
}
.split-view .split-details {
	position: relative;
	overflow: auto;
	height: 100%;
}
.split-view .split-details .no-result {
	bottom: 0;
	left: 0;
	margin-top: -34px;
	opacity: 0.5;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
}
.split-view .split-details .actions {
	height: 50px;
	float: left;
}
.split-view .split-details .actions li {
	list-style: none;
	position: relative;
}
.split-view .split-details .actions li:last-child:after {
	display: none;
}
.split-view .split-details .actions li:after {
	content: "";
	height: 14px;
	position: absolute;
	right: -4px;
	top: 18px;
	width: 1px;
	background: rgba(0, 0, 0, 0.07);
}
.split-view .split-details .actions li a {
	font-size: 13.1px;
	color: #626262;
	font-weight: 600;
	padding: 0 13px;
	line-height: 50px;
	white-space: nowrap;
}
.inner-content {
	margin-top: 0px;
	padding: 0px;
	overflow: auto;
	min-height: 100%;
	margin-left: 250px;
}


.list-view-wrapper {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}
.list-view-container {
	position: relative;
}
.list-view-container .list-quickscroll ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 120;
	padding-top: 10px;
	padding-bottom: 10px;
}
.list-view-container .list-quickscroll ul li a {
	font-size: 0.7em;
	vertical-align: baseline;
}
.list-view-group-container {
	margin: 0;
	min-height: 1px;
	overflow: hidden;
	padding: 26px 0 0 0;
	position: relative;
}
.list-view-group-container:last-child ul {
	border: 0;
}
.list-view-group-header,
.list-view-fake-header {
	background: #fafafa;
	color: #232830;
	font: normal 11px/14px 'Montserrat', Arial;
	text-transform: uppercase;
	margin: 0;
	padding: 6px 0 5px 15px;
	position: absolute;
	border-top: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	z-index: 10;
}
.list-view-group-header {
	bottom: auto;
	min-height: 1px;
	top: 0;
	width: 100%;
	border-top: 0;
}
.list-view-fake-header {
	width: 100%;
	z-index: 100;
	font-size: 11px !important;
	line-height: 14px !important;
}
.list-view-fake-header.list-view-hidden {
	visibility: hidden;
}
.list-view-group-container.list-view-animated .list-view-group-header {
	bottom: 0;
	top: auto;
}
input.list-view-search {
	font-size: 15px;
	color: #232830;
}
.no-top-border .list-view-fake-header {
	border-top: 0;
}
.list-view ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.list-view li {
	padding-left: 15px;
	white-space: nowrap;
	cursor: pointer;
	width: 100%;
	display: table;
}
.list-view li:hover {
	background-color: #daeffd;
}
.list-view li.active {
	background-color: #fef6dd;
}
.list-view li p {
	margin: 0;
	line-height: 19px;
}
.list-view li > a {
	margin-right: 15px;
	display: table;
	width: 100%;
}
.list-view.boreded li > a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.list-view.boreded li:last-child > a {
	border-bottom: 0;
}
.list-view.boreded li + li {
	border-top: 0;
}
[data-ios="true"] .list-view-group-header,
[data-ios="true"] .list-view-fake-header {
	width: 288px;
	/*scrollbars aren't visible in iOS devices, so make the headers wider */
}
.list-group-item {
	border: 1px solid #f0f0f0;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	background-color: #40d9ca;
	border-color: #40d9ca;
}
.list-group-item:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.list-group-item:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* Chat User List
--------------------------------------------------
*/
.chat-user-list > a {
	height: 60px;
}

.chat-view .chat-inner {
    padding: 15px;
    overflow-x: hidden;
    height: calc(100% - 103px);
}
/*------------------------------------------------------------------
[2. View Ports]
*/
.view-port {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	white-space: nowrap;
	word-spacing: 0;
	font-size: 0;
	overflow: hidden;
}
.view-port > * {
	font-size: initial;
}
.view-port .navbar {
	border-radius: 0;
	padding-left: 0;
	margin-bottom: 0;
	border-left: 0;
	display: table;
	width: 100%;
	top: 0;
	border-top: 0;
}
.view-port .navbar .navbar-inner {
	display: table-cell;
	height: 50px;
	vertical-align: middle;
}
.view-port .navbar .action {
	position: absolute;
	top: 0;
	line-height: 50px;
	z-index: 1;
}
.view-port .navbar .action.pull-right {
	right: 0;
}
.view-port .navbar .view-heading {
	font-size: 15px;
	text-align: center;
}
.view-port .navbar > p {
	line-height: 12px;
	font-size: 12px;
	margin: 0;
}
.view-port .navbar.navbar-sm {
	min-height: 35px;
}
.view-port .navbar.navbar-sm .navbar-inner {
	height: 35px;
}
.view-port .navbar.navbar-sm .action {
	line-height: 35px;
}
.view-port .view {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.view-port .view:first-child:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	z-index: -1;
}
.view-port .view:only-child {
	margin: 0;
}
.view-port.from-top > .view:last-child {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-ms-transform: translate(-100%, 0);
}
.view-port.push > .view:first-child {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-ms-transform: translate(-100%, 0);
}
.view-port.push > .view:last-child {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-ms-transform: translate(-100%, 0);
}
.view-port.push-parrallax > .view:first-child {
	-webkit-transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1);
	transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1);
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
	-ms-transform: translate(-25%, 0);
}
.view-port.push-parrallax > .view:first-child:before {
	opacity: 0;
	z-index: 100;
}
.view-port.push-parrallax > .view:last-child {
	-webkit-transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1);
	transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1);
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-ms-transform: translate(-100%, 0);
	box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
}

*/
/* Chat Components
--------------------------------------------------
*/
.chat-view .chat-inner {
  padding: 15px;
  overflow-x: hidden;
  height: calc(100% - 103px);
}
.chat-view .message {
  margin-bottom: 10px;
  line-height: 30px;
}
.chat-view .profile-img-wrapper {
  height: 28px;
  width: 28px;
}
.chat-view .chat-bubble {
  position: relative;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 16px;
  margin: 5px 0px 0 5px;
  max-width: 60%;
  white-space: normal;
}
.chat-view .chat-bubble > p {
  margin: 0;
}
.chat-view .chat-bubble.from-me {
  background: #daeffd;
  color: #2c2c2c;
  opacity: 0.8;
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.chat-view .chat-bubble.from-them {
  color: #2c2c2c;
  background: #f0f0f0;
  position: relative;
  opacity: 0.8;
  float: left;
  border: 1px solid #f0f5f8;
}
.chat-view .chat-input {
  border: 0;
  height: 45px;
}
.chat-view .chat-input:focus,
.chat-view .chat-input:active {
  background-color: #fff;
}
.chat-view .user-controls {
  padding-top: 12px;
}
/* Chat User List
--------------------------------------------------
*/
.chat-user-list > a {
  height: 60px;
}
.col-top {
    vertical-align: top!important;
}

.chat-view .profile-img-wrapper {
    height: 28px;
    width: 28px;
}

.profile-img-wrapper {
    float: left;
    border-radius: 100px 100px 100px 100px;
    display: inline-block;
    height: 35px;
    overflow: hidden;
    width: 35px;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

/* Circle
------------------------------------
*/
.pgn-circle .alert {
  /* border-radius: 300px; */
  /* animation: fadeInCircle 0.3s ease forwards, resizeCircle 0.3s 0.4s cubic-bezier(0.25, 0.25, 0.4, 1.6) forwards; */
  /* -webkit-animation: fadeInCircle 0.3s ease forwards, resizeCircle 0.3s 0.4s cubic-bezier(0.25, 0.25, 0.4, 1.6) forwards; */
  /* height: 60px; */
  /* overflow: hidden; */
  /* padding: 6px 55px 6px 6px; */
  /* -webkit-transform: translateZ(0); */
  /* position: relative; */
}
.pgn-wrapper[data-position$='-right'] .pgn-circle .alert {
  float: right;
}
.pgn-wrapper[data-position$='-left'] .pgn-circle .alert {
  float: left;
}
.pgn-circle .alert > div > div.pgn-thumbnail > div {
  border-radius: 50%;
  overflow: hidden;
  /* width: 48px; */
  /* height: 48px; */
}
.pgn-circle .alert > div > div.pgn-thumbnail > div > img {
  width: 100%;
  height: 100%;
  /* border: 3px solid rgba(255, 255, 255, 0.2); */
  border: 3px solid rgba(0, 0, 0, 0.2);
  /* margin-top: -3px; */
  /* width: 62px !important; */
}
.pgn-circle .alert > div > div.pgn-message > div {
  opacity: 0;
  height: 47px;
  padding-left: 9px;
  animation: fadeIn .3s .5s ease forwards;
  -webkit-animation: fadeIn .3s .5s ease forwards;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  word-wrap: break-word;
}
.pgn-circle .alert > div > div.pgn-message > div p:only-child {
  padding: 12px 0;
}
.pgn-circle .alert .close {
  margin-top: -12px;
  position: absolute;
  right: 18px;
  top: 50%;
  opacity: 0;
  animation: fadeIn .3s .5s ease forwards;
  -webkit-animation: fadeIn .3s .5s ease forwards;
}
.pgn-circle .alert p {
  margin-bottom: 0;
  font-size: 14px;
}
.pgn-circle .alert > div {
  display: table;
  height: 100%;
}
.pgn-circle .alert > div > div {
  display: table-cell;
  vertical-align: middle;
  width: 62px;
}
@keyframes fadeInCircle {
  0% {
    opacity: 0;
    width: 60px;
  }
  100% {
    opacity: 1;
    width: 60px;
  }
}
@-webkit-keyframes fadeInCircle {
  0% {
    opacity: 0;
    width: 60px;
  }
  100% {
    opacity: 1;
    width: 60px;
  }
}
@keyframes resizeCircle {
  0% {
    width: 60px;
  }
  100% {
    width: 300px;
  }
}
@-webkit-keyframes resizeCircle {
  0% {
    width: 60px;
  }
  100% {
    width: 300px;
  }
}

/* Pages notification holder */
.panel .pgn-wrapper {
  position: absolute;
  z-index: 602;
}
.panel-heading a:not(.btn) {
  color: #626262 !important;
  opacity: .4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel-heading a:not(.btn).portlet-refresh {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.panel-heading a:not(.btn).portlet-refresh.refreshing {
  opacity: 1;
}
.panel-heading .dropdown ul li a,
.panel-heading .dropdown-menu li a {
  padding: 0 20px;
}
.panel-heading a[data-toggle]:hover {
  opacity: 1;
}
.portlet-icon {
  -moz-osx-font-smoothing: grayscale;
  font-family: "pages-icon";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}
.portlet-icon-close:before {
  content: "\e60a";
}
.portlet-icon-maximize:before {
  content: "\e634";
}
.portlet-icon-refresh:before {
  content: "\e600";
}
.portlet-icon-collapse:before {
  content: "\e62c";
}
.portlet-icon-settings:before {
  content: "\e655";
}
.portlet-icon-refresh-lg-master,
.portlet-icon-refresh-lg-white {
  width: 15px;
  height: 15px;
  display: block;
  background-size: cover;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.portlet-icon-refresh-lg-master.fade,
.portlet-icon-refresh-lg-white.fade {
  opacity: 0.1;
}
.portlet-icon-refresh-lg-master {
  background-image: url('../img/progress/progress-circle-lg-master-static.svg');
}
.portlet-icon-refresh-lg-white {
  background-image: url('../img/progress/progress-circle-lg-white-static.svg');
}
.portlet-icon-refresh-lg-master-animated,
.portlet-icon-refresh-lg-white-animated {
  width: 15px;
  height: 15px;
  display: block;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.portlet-icon-refresh-lg-master-animated.active,
.portlet-icon-refresh-lg-white-animated.active {
  opacity: 1;
}
.portlet-icon-refresh-lg-master-animated {
  background-image: url('../img/progress/progress-circle-lg-master.svg');
}
.portlet-icon-refresh-lg-white-animated {
  background-image: url('../img/progress/progress-circle-lg-white.svg');
}

.push-on-sidebar-open {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  -webkit-backface-visibility: hidden;
}

.pgn {
    position: relative;
    /* margin: 10px; */
    /* width: 350px; */
    /* cursor: pointer; */
}

body>.pgn-wrapper[data-position^='top-'] {
    top: 60px;
    bottom: auto;
    width: 350px !important;
}

.pgn-wrapper[data-position^='top-'] {
    top: 20px;
}

.pgn-wrapper[data-position$='-right'] {
    right: 20px;
}

body>.pgn-wrapper {
    z-index: 900;
}

.pgn-wrapper {
    position: fixed;
    padding: 15px;
    z-index: 1000;
    /* width: 350px; */
}

.pgn-wrapper[data-position$='-right'] .pgn-circle .alert {
    float: right;
    padding: 15px;
    border: none;
    margin-bottom: 10px;
    z-index: 3;
    width: 350px;
}

.pgn-circle .alert {
    /* border-radius: 300px; */
    animation: fadeInCircle 0.3s ease forwards,resizeCircle 0.3s 0.4s cubic-bezier(0.25,0.25,0.4,1.6) forwards;
    -webkit-animation: fadeInCircle 0.3s ease forwards,resizeCircle 0.3s 0.4s cubic-bezier(0.25,0.25,0.4,1.6) forwards;
    /* height: 60px; */
    overflow: hidden;
    width: 350px;
    /* padding: 6px 55px 6px 6px; */
    -webkit-transform: translateZ(0);
    position: relative;
    /* border: 1px solid #f44336; */
}

.pgn .alert {
    margin: 0;
    margin-bottom: 10px;
}

.alert-info {
    background-color: #daeffd;
    color: #2b6a94;
    border-color: #2b6a94;
}

.alert {
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    padding: 9px 19px 9px 15px;
    border-radius: 3px;
    font-size: 13px;
    border-width: 0;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* Overlay Search
------------------------------------
*/
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1010;
  /* padding-left: 64px; */
  overflow: auto;
}
.overlay .inline-block {
  display: inline-block;
}
.overlay .overlay-brand {
  margin-left: 7px;
}
.overlay > div {
  width: 100%;
  height: 260px;
  display: block;
  overflow: hidden;
}
.overlay .has-results {
  overflow: visible;
}
.overlay .overlay-search {
  font-weight: 700;
  font-size: 77px;
  height: 100px;
  letter-spacing: -1.925px;
  line-height: 100px;
  width: 100%;
  padding-left: 0 !important;
}
.overlay .overlay-close {
  position: absolute;
  right: 20px;
  top: 25px;
}
.group-container {
  white-space: nowrap !important;
}
.group-container .single-group {
  vertical-align: top;
  display: inline-block;
  white-space: normal;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  background-color: #f0f0f0;
}
.jumbotron .inner {
  position: relative;
  z-index: 2;
}
.jumbotron.lg {
  height: 600px;
}
.jumbotron .cover-photo {
  width: 100%;
  height: inherit;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-size: cover;
  background-color: #10cfbd;
}
.jumbotron .cover-photo img {
  display: none;
}
.jumbotron h1 {
  font-size: 44px;
}

.alert-dark {
    background-color: #33363c;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: #E2E2E2;
}
