.timeline2 {
  padding-top: 40px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 60px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #313d4f;
  position: relative;
  width: 100%;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;
}
.status:before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -10px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #313d4f;
}
.li.complete .status:before {
  background-color: #63cb47;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #66DC71;
}

.li.current .status {
  border-top: 2px solid #313d4f;
}
.li.current .status:before {
  background-color: #ffca28;
  border: none;
  transition: all 200ms ease-in;
}
.li.current .status h4 {
  color: #66DC71;
  font-weight: 600;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline2 {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}

.order-progress .progressbar {
    height: 100px;
    padding: 15px 0;
    max-width: 600px;
    margin: auto;
}
.order-progress .progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #cdcdcd;
    z-index: 1;
}
.order-progress .progressbar li:before {
    width: 20px;
    height: 20px;
    content: '';
    line-height: 30px;
    border: 2px solid #d4d4d5;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 1;
}
.order-progress .progressbar li:after {
    width: 100%;
    height: 6px;
    content: '';
    position: absolute;
    background-color: #d4d4d5;
    top: 7px;
    left: -50%;
    margin-left: 10px;
    z-index: -1;
}
.order-progress .progressbar li:first-child:after {
    content: none
}
.order-progress .progressbar li.active {
    color: #263848;
}
.order-progress .progressbar li.active:before {
    border-color: #ffffff;
    border-width: 3px;
    background: #ffc502;
}
.order-progress .progressbar li.active:after {
    /* background-color: #55b776 */
}
.order-progress .progressbar li.pending {
    color: #ffbd08
}
.order-progress .progressbar li.pending:after {
    background-color: #55b776
}
.order-progress .progressbar li.pending:before {
    border-color: #ffbd08;
    background-color: #ffbd08
}
.order-progress .progressbar li.inactive {
    color: #cb202d
}
.order-progress .progressbar li.inactive:after {
    background-color: #55b776
}
.order-progress .progressbar li.inactive:before {
    border-color: #cb202d;
    background-color: #cb202d
}

.order-progress .progressbar li.done:before {
    border-color: #ffffff;
    border-width: 3px;
    background: #43c021;
}
.order-progress .progressbar li.done {
    color: #263848;
}
